<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<div id="crumbs_cont">
  <ul id="crumbs">
    <li class="crumbsli"><a class="crumbs red_text" href="/">Home</a></li>
    <li class="crumbsli"><a style="font-size:12px">Contact Us</a></li>
  </ul>
</div>
<div class="container-fluid padding_top_md" ng-controller="Sendctrl">
  <div class="row">
    <div class="col s12">
      <section id="special_page_sidecontent">
        <div id="sidebarmenu">
          <ul>
            <li id="liContact" class="active"><a href="/contactus"><label class="dot">&#x25AA; </label>Contact Us</a></li>
            <li id="liTerms"><a href="/terms-of-use"><label class="dot">&#x25AA; </label>Terms of Use</a></li>
            <li id="liPrivacy"><a href="/privacy-policy"><label class="dot">&#x25AA; </label>Privacy Policy</a></li>
            <li id="liSiteMap"><a href="/site-map"><label class="dot">&#x25AA; </label>Site Map</a></li>
            <li id="liletter"><a href="/newsletter/enewsletter"><label class="dot">&#x25AA; </label>e-Newsletter Archive</a></li>
            <li id="liPDF"><a href="/newsletter/pdfnewsletter"><label class="dot">&#x25AA; </label>Newsletter PDF Archive</a></li>
          </ul>
        </div>
        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form action="//bodynbrain.us3.list-manage.com/subscribe/post?u=cfc22757143336e0cfcf90eef&amp;id=eef0458b00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email text" id="mce-EMAIL" placeholder="E-mail Address">
            <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="send">
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="right_body">
        <h5 class="main_title">Contact Us</h5>
        If you have question, comments or suggestions, please contact us. <br>
        We will get back to you as soon as possible.
        <br><br>
        <hr>
      </section>
      <div class="overflow_hidden write_table col s6">
        <form name="cOntactus" onsubmit="return checkform(this);" ng-submit="contactsend(contact)">
          <table class="tablengcontact">
            <tr><td width="20%"><i class="graydot"></i>Subject</td><td><input type="text" ng-model="contact.subject" required class="input_text"><span class="import">*</span></td></tr>
            <tr><td width="20%"><i class="graydot"></i>Name</td><td><input type="text" ng-model="contact.name" required class="input_text"><span class="import">*</span></td></tr>
            <tr><td width="20%"><i class="graydot"></i>Email</td><td><input type="email" ng-model="contact.email" required class="validate input_text"><span class="import">*</span></td></tr>
            <tr><td colspan="2">Select State and Center for center specific questions.(Optional)</td></tr>
            <tr><td width="20%"><i class="graydot"></i>State</td><td>

              <select ng-model="contact.state" class="form_element_normal input_text" ng-change="centerViaState(contact.state)" >
                <option selected="selected" value="">State</option>
                <option value="AZ">Arizona</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="DC">District of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="IL">Illinois</option>
                <option value="MA">Massachusetts</option>
                <option value="MD">Maryland</option>
                <option value="MN">Minnesota</option>
                <option value="NC">North Carolina</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NV">Nevada</option>
                <option value="NY">New York</option>
                <option value="OR">Oregon</option>
                <option value="TX">Texas</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WI">Wisconsin</option>
              </select>
            </td></tr>
            <tr><td width="20%"><i class="graydot"></i>City</td><td>
              <select ng-model="contact.center" class="form_element_normal input_text">
                <option selected="selected" value="">Center</option>
                <option ng-repeat="center in centers" value="{[{center.centerid}]}">{[{center.centertitle}]}</option>
              </select>
            </td></tr>

            <tr><td colspan="2" width="20%"><i class="graydot"></i>Questions or Comments </td></tr>
            </table>
            <table>
              <tr><td colspan="2"><textarea rows="2" cols="20" tabindex="4" class="textarea_detail" ng-model="contact.content" required>
              </textarea><span class="import">*</span>
              </td></tr>
            </table>
            <table class="tablengcontact2">
              <tr>
                  <td class="captcha" width="40%"><span id="txtCaptchaDiv" class="captchatxt"></span>
                    <input type="hidden" id="txtCaptcha" ng-model="str1" name="captcha" />
                  </td>
                  <td width="40%"><input type="text" name="txtInput" id="txtInput" size="15" class="input_text2" placeholder="Type in the characters in the image" ng-model="str2" required name="captcha2"/><span class="import">*</span>
                  </td>
              </tr>
              <tr>
                <td colspan="2">
                  <center><input type="image" src="/img/frontend/write_submit.png" id="submitmsg" ng-disabled="submitted"></center>
                </td>
              </tr>
            </table>
        </form>
        <script type="text/javascript">
          function checkform(theform){
            var why = "";

            if(theform.txtInput.value == ""){
              why += "Captcha code should not be empty";
            }
            if(theform.txtInput.value != ""){
              if(ValidCaptcha(theform.txtInput.value) == false){
                why += "Captcha code did not match";
              }
            }
            if(why != ""){
              alert(why);
              return false;
            }
          }

          //Generates the captcha function

          function randomString() {
            var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZ";
            var string_length = 6;
            var randomstring = '';
            for (var i=0; i<string_length; i++) {
              var rnum = Math.floor(Math.random() * chars.length);
              randomstring += chars.substring(rnum,rnum+1);
            }
            return randomstring;
          }

          var code = randomString();

          document.getElementById("txtCaptcha").value = code;
          document.getElementById("txtCaptchaDiv").innerHTML = code;

          // Validate the Entered input aganist the generated security code function
          function ValidCaptcha(){
            var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
            var str2 = removeSpaces(document.getElementById('txtInput').value);
            if (str1 == str2){
              return true;
            }else{
              return false;
            }
          }
          // Remove the spaces from the entered and generated code
          function removeSpaces(string){
            return string.split(' ').join('');
          }
          </script>
      </div>
       <div class="contact_info col s4">
        <p class="contact_title">Contact Information</p>
        <p class="contact_subtitle">Customer Service</p>
        <p class="pew">Phone : 1-877-477-YOGA</p>
        <p class="pew">E-mail : <a href="mailto:customerservice@bodynbrain.com">customerservice@bodynbrain.com</a></p>
        <br><br><br>
      </div>
    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->
<?php echo $this->getContent()?>
