<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?><div class="container-fluid main_top" ng-controller="workshopCtrl">
	<div class="row no-margin">
		<div class="col s12">
			<div class="body_8">
					<img src="/img/frontend/workshop_overview_banner.png" class="img_inherit">
			</div>
			<div class="side_4">
				<div class="bg_teal white_text" style="padding:2% 5%">
					Upcoming Schedule
					<a href="/workshops/workshopschedules/all"><span class="float_right white_text text_85">
	     		<u>See all</u>
	   			</a>
				</div>
				<div class="border_light_gray padding_s font_90" ng-repeat="upsched in upcomingschedule">
					<span class="teal_text"><label class="dot"> ▪</label> {[{upsched.titlename}]}</span>
					<br>
					<div class="pad_l20">
						
						<div class="inbl width_100">{[{upcomingscheduledate[$index]}]} </div>
						<div class="inbl">
							<a href="/workshops/detail/{[{upsched.workshopid}]}" class="dev_text">
							{[{upsched.centertitle}]}, {[{upsched.centerstate}]} <br> 
							<span class="bluish_text"><u>{[{upsched.venuename}]}</u></span>
							</a>
						</div>
							
					</div>
				</div>
	<!-- 			<div class="border_light_gray padding_s font_90">
					<span class="teal_text"><label class="dot"> ▪</label> Finding True Self</span>
					<br>
					<div class="pad_l20">
						<div class="inbl width_100">Aug 08-09 <br> 2015 </div>
						<div class="inbl">Northbrook, IL <br> Dahn Yoga Center</div>
					</div>
				</div>
				<div class="border_light_gray padding_s font_90">
					<span class="teal_text"><label class="dot"> ▪</label> Finding True Self</span>
					<br>
					<div class="pad_l20">
						<div class="inbl width_100">Aug 08-09 <br> 2015 </div>
						<div class="inbl">Northbrook, IL <br> Dahn Yoga Center</div>
					</div>
				</div> -->
			</div>
		</div>

		<div class="col s12 no-margin">
			In addition to our regular Body & Brain yoga classes, we offer workshops that help you reach your personal potential. <br>
			Most people who take our workshops experience deeper relaxation and find that even the regular class<br>
			itself takes on greater meaning and effectiveness.
		</div>

		<div class="col s12 no-margin">
			<br>
			<div class="horizontal-rule"><img src="/img/assets/bg_main_shadow.gif" alt=""></div>
			<h5>Featured Workshops</h5>
		</div>
		
		<div class="featured_workshop_container">
			<div class="col s4 padding_m">
				<a href="/page/view/initial-awakening" class="auto_text">
				<img src="/img/frontend/img_feature_1.png" class="img_inherit"> <br>
				<span class="teal_text font_20_px boldest">Initial Awakening™</span>
				<p class="font_85 lh_16">Quiet your mind and strengthen your core. An essential workshop to get the most out of your Body &amp; Brain yoga practice. Learn how to apply Body &amp; Brain yoga practice to your everyday life for developing more energy, greater strength, better stress management, and clearer focus. <br>
				<a href="/page/view/initial-awakening" class="red_text font_90 border_light_gray border_radius_s float_right margin_top_5px padding_sides_2">Sign Up &#8250;</a>
				</p>
				<br>
				</a>
			</div>

			<div class="col s4 padding_m">
				<a href="/page/view/sedona-retreat" class="auto_text">
				<img src="/img/frontend/img_feature_workshop2.png" class="img_inherit"> <br>
				<span class="teal_text font_20_px boldest">Sedona Retreat for Change</span>
				<p class="font_85 lh_16">This three day journey will guide you to encounter life changing moments through the communication with yourself and nature. Reclaim the original beauty in you. Enjoy guided meditations that will enhance self-awareness at the major vortex sites.<br><br>
				<a href="/page/view/sedona-retreat" class="red_text font_90 border_light_gray border_radius_s float_right margin_top_5px padding_sides_2">Sign Up &#8250;</a>
				</p>
				</a>
			</div>

			<div class="col s4 padding_m">
				<a href="/page/view/finding-true-self" class="auto_text">
				<img src="/img/frontend/img_feature_03.png" class="img_inherit"> <br>
				<span class="teal_text font_20_px boldest">Finding True Self</span>
				<p class="font_85 lh_16">Find your true self and open your heart. A transformational workshop that helps you reconnect with your true nature. Identify the mental and emotional patterns that keep you from living your best life, opening a path of manifestation of your greatest potential. <br>
				<a href="/page/view/finding-true-self" class="red_text font_90 border_light_gray border_radius_s float_right margin_top_5px padding_sides_2">Find out more &#8250;</a>
				</p>
				</a>
			</div>
		</div>

		<div class="col s12 no-margin border_light_gray padding_m all_workshops">
			<div class="col s12"><h5>All Workshops</h5></div>
			<div class="col s5 margin_right">
				<div class="col s12">
					<a href="/workshops/workshopschedules/brain-management-training" class="auto_text">
					<div class="col s5">
						<img src="/img/frontend/img_all_01.png" class="img_inherit">
					</div>
					<div class="col s7 padding_sides_2">
						<span class="teal_text font_20_px boldest">Brain Management Training</span>
						<p class="font_85 lh_16">
							Your Brain is so amazing! Body &amp; Brain yoga classes and workshops integrate important principles about how the brain operates and how we can use it to better ourselves.
						<p>
					</div>
					</a>
				</div>

				<div class="col s12">
					<a href="/workshops/workshopschedules/dahn-master-course" class="auto_text">
					<div class="col s5">
						<img src="/img/frontend/img_all_03.png" class="img_inherit">
					</div>
					<div class="col s7 padding_sides_2">
						<span class="teal_text font_20_px boldest">Dahn Master Course</span>
						<p class="font_85 lh_16">
							Discover your strength! With DahnMuDo you are introduced to the essence of the Korean healing and Martial Arts tradition. You will learn how to develop qi or energy to realize you power and limitlessness.
						</p>
					</div>
					</a>
				</div>

			</div>

			<div class="col s5">
				<div class="col s12">
					<a href="/workshops/workshopschedules/dahn-master-course" class="auto_text">
					<div class="col s5">
						<img src="/img/frontend/img_all_02.png" class="img_inherit">
					</div>
					<div class="col s7 padding_sides_2">
						<span class="teal_text font_20_px boldest">Dahn Master Course</span>
						<p class="font_85 lh_16">
							Achieve your purpose! The Dahn Master Course will equip you with the tools you need to develop a greater sense of leadership and achieve your purpose in life.
						</p>
					</div>
					</a>	
				</div>
				<div class="col s12">
					<a href="/workshops/workshopschedules/meditation-tours" class="auto_text">
					<div class="col s5">
						<img src="/img/frontend/img_all_04.png" class="img_inherit">
					</div>
					<div class="col s7 padding_sides_2">
						<span class="teal_text font_20_px boldest">Meditation Tours</span>
						<p class="font_85 lh_16">
							Peace and tranquility in beautiful settings. If you are interested in a unique meditation experience in a beautiful natural setting, you can find it with the Body &amp; Brain yoga Meditation Tours. Get in touch with yourself as you get in touch with a new environment.
						</p>
					</div>	
					</a>
				</div>
			</div>
		</div>
	</div>
</div>