<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?><div id="crumbs_cont">
  <ul id="crumbs">
    <li class="crumbsli"><a class="crumbs" href="/">Home</a></li>
    <li class="crumbsli"><a class="crumbs" href="">Workshops</a></li>
    <li class="crumbsli"><a class="crumbs" href="">Schedules</a></li>
  </ul>
</div>

<div class="container-fluid padding_top_md" ng-controller="workshopCtrl">
  <input type="hidden" class="titleslugs" value="<?php echo $titleslugs; ?>">
  <input type="hidden" class="offset" value="<?php echo $page; ?>">
  <div class="row">
    <div class="col s12">
      <section id="special_page_sidecontent">
        <div id="special_page_sidebarmenu">
          <div id="sidebarmenu">
          <ul>
            <li><a href="/workshops/workshopschedules/initial-awakening"><label class="dot"> ▪</label> Initial Awakening</a></li>
            <li><a href="/workshops/workshopschedules/finding-true-self"><label class="dot"> ▪</label> Finding True Self</a></li>
            <li><a href="/workshops/workshopschedules/sedona-retreat"><label class="dot"> ▪</label> Sedona Retreat for Change</a></li>
            <li><a href="/workshops/workshopschedules/solar-body-natural-healing-course"><label class="dot"> ▪</label> Solar Body Natural Healing Course</a></li>
            <li><a href="/workshops/workshopschedules/dahnmudo/1"><label class="dot"> ▪</label> DahnMudo™</a></li>
            <li><a href="/workshops/workshopschedules/brain-management-training"><label class="dot"> ▪</label> Brain Management Training</a></li>
            <li><a href="/workshops/workshopschedules/dahn-master-course"><label class="dot"> ▪</label> Dahn Master Course</a></li>
            <li><a href="/workshops/workshopschedules/meditation-tours"><label class="dot"> ▪</label> Meditational Tours</a></li>
            <li><a href="/workshops/workshopschedules/all"><label class="dot"> ▪</label> Schedules</a></li>
            <li><a href=""><label class="dot"> ▪</label> Healthier Together</a></li>
          </ul>
          </div>
        </div>
        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" />
          </form>
          <div class="clearboth"></div>
        </div>

      </section>

      <section id="right_body">
        <form ng-submit="register(wsreg)" class="form-validation ng-pristine ng-invalid ng-invalid-required wsregform" name="wsregform">
        <span class="main_title bl">Workshop Registration</span>
        <span class="size_24 bl teal_text">Workshop Information</span>
        <div class="col l12 bg_yellowish border_light_gray padding_m">
        	<div class="col s2 padding_m">Workshop</div>
        	<div class="col s10 padding_m">{[{workshop.titlename}]}</div>

        	<div class="col s2 padding_m">Date</div>
        	<div class="col s10 padding_m">{[{workshop.datestart}]}</div>

        	<div class="col s2 padding_m">Location</div>
        	<div class="col s10 padding_m">{[{workshop.venuename}]} {[{workshop.centertitle}]} <span ng-if="workshop.venuename == '' || workshop.venuename == null">Center</span>, (<span ng-if="workshop.centerstate != '' || workshop.centerstate != null">{[{workshop.centerstate}]}</span><span ng-if="workshop.centerstate == '' || workshop.centerstate == null">{[{workshop.SPR}]}</span>)</div>

        	<div class="col s2 padding_m">Tuition</div>
        	<div class="col s10 padding_m red_text">
                <span ng-hide="discount">${[{workshop.tuition}]}.00

                </span>
                <span ng-show="discount">
                    <strike>${[{workshop.tuition}]}.00</strike> &#x2799;
                    ${[{workshop.sale}]}.00
                </span>
            </div>
        </div>

        <span class="size_24 bl teal_text">&nbsp;<br>Billing Information</span>
        <div class="col s12 border_light_gray padding_m">
        	<div class="col s2">First Name
                <span class="red_text" ng-show="wsregform.firstname.$error.required">*</span>
            </div>
        	<div class="col s4">
        		<input type="text" name="firstname" class="form_element_normal" ng-model="wsreg.firstname" required>
        	</div>
        	<div class="col s2">Last Name
                <span class="red_text" ng-show="wsregform.lastname.$error.required">*</span>
            </div>
        	<div class="col s4">
        		<input type="text" name="lastname" class="form_element_normal" ng-model="wsreg.lastname" required>
        	</div>

        	<div class="col s2">Address Line 1
                <span class="red_text" ng-show="wsregform.address1.$error.required">*</span>
            </div>
        	<div class="col s4">
        		<input type="text" name="address1" class="form_element_normal" ng-model="wsreg.address1" required>
        	</div>
        	<div class="col s2">Address 2</div>
        	<div class="col s4">
        		<input type="text" class="form_element_normal" ng-model="wsreg.address2">
        	</div>

        	<div class="col s2">Country
                <span class="red_text" ng-show="wsregform.country.$error.required">*</span>
            </div>
        	<div class="col s4">
        		<input type="text" name="country" class="form_element_normal" ng-model="wsreg.country" required>
        	</div>
        	<div class="col s2">City
                <span class="red_text" ng-show="wsregform.city.$error.required">*</span>
            </div>
        	<div class="col s4">
        		<input type="text" name="city" class="form_element_normal" ng-model="wsreg.city" required>
        	</div>

        	<div class="col s2">State/Province
                <span class="red_text" ng-show="wsregform.state.$error.required">*</span>
            </div>
        	<div class="col s4">
        		<input type="text" name="state" class="form_element_normal" ng-model="wsreg.state" required>
        	</div>
        	<div class="col s2">Zip Code
                <span class="red_text" ng-show="wsregform.zipcode.$error.required || wsregform.zipcode.$error.pattern">*</span>
            </div>
        	<div class="col s4">
        		<input type="text" name="zipcode" class="form_element_normal" ng-model="wsreg.zipcode" maxlength="5" pattern="\d*" required>
        	</div>

        	<div class="col s2">Phone Number
                <span class="red_text" ng-show="wsregform.contact.$error.required || wsregform.contact.$error.minlength || wsregform.contact.$error.maclength ">*</span>
            </div>
        	<div class="col s10">
        		<input type="text" name="contact" class="form_element_normal phone_us" ng-model="wsreg.contact" minlength="14" maxlength="14" placeholder="(000) 000-0000"required>
        	</div>

        	<div class="col s12">Email Address
                <span class="red_text" ng-show="wsregform.email.$error.required">*</span>
                <br>
                <input type="text" name="email" class="form_element_normal" ng-model="wsreg.email" ng-change="matchemail(wsreg.email, wsreg.confirmemail)" required>
                <span class="red_text" ng-show="notmatch">Please match your email addresses</span>
        	</div>
        	<div class="col s12">Confirm Email Address
                <span class="red_text" ng-show="wsregform.confirmemail.$error.required">*</span>
                <br>
        		<input type="text" name="confirmemail" class="form_element_normal" ng-model="wsreg.confirmemail" ng-change="matchemail(wsreg.email, wsreg.confirmemail)" required>
        	</div>
        </div>

        <span class="size_24 bl teal_text">&nbsp;<br>Payment Information</span>
        <div class="col s12 border_light_gray padding_m">
        	<img src="/img/frontend/mastercard.png" class="creditcardicon">
        	<img src="/img/frontend/visa.png" class="creditcardicon">
        	<img src="/img/frontend/amex.png" class="creditcardicon">

        	<br><br>

        	Credit Card Number
            <span class="red_text" ng-show="wsregform.creditcardnumber.$error.required">*</span>
            <br>
        	<input type="text" name="creditcardnumber" class="form_element_normal form_element_medium" ng-model="wsreg.creditcardnumber" pattern="\d*" required> <span ng-show="invalid" class="red_text">Your Credit Card Number is invalid!</span>

        	<br><br>

        	Expiration
            <span class="red_text" ng-show="wsregform.expimonth.$error.required || wsregform.expiyear.$error.required ">*</span>
            <br>
        	<select name="expimonth" class="form_element_normal" ng-model="wsreg.expimonth" required>
        		<option ng-repeat="month in months" value="{[{month.month}]}">{[{month.month}]}</option>
        	</select>
        	<select name="expiyear" class="form_element_normal" ng-model="wsreg.expiyear" required>
        		<option ng-repeat="t in getTimes(15) track by $index" value="{[{year + $index}]}">{[{year + $index}]}</option>
        	</select>

        </div>

        <div class="col s12">
        	<br>
        	<input type="checkbox" name="agreement" id="test6" ng-model="wsreg.agreement" required>
        	<label for="test6">
        		I agree to the <a class="bluish_text" id="workshopagreement">workshop agreement.</a>
        		<span class="red_text" ng-show="wsregform.agreement.$error.required">*</span>
        	</label>
        	<br><br>
        	<center>
        	<button type="submit" id="formsubmit" class="btn_lg bg_lime semi_bold white_text" ng-disabled="wsregform.$invalid">Sign Me Up!</button>

            <br>
            <span ng-show="invalid" class="red_text">WARNING! Error occured.</span>
        	</center>
        </div>
      	</form>
        <div class="col s12 hidden" id="confirmation">
            <span class="main_title bl">Workshop Registrant Confirmation</span>
            A copy of this confirmation is sent to your email.
            <br><br>
            <div class="col s12 border_light_gray padding_m">
                <center><img src="/img/frontend/logo.gif"></center>
                <br>
                <hr class="hr_thin_bluegreen">
                <span class="size_24 bl teal_text">&nbsp;<br>Registrant Information</span>
                <span class="inbl mrg_ls bbb width_100">Name:</span>
                    {[{registrantinfo.name}]} <br>
                <span class="inbl mrg_ls bbb width_100">Address:</span>
                    {[{registrantinfo.address}]}/{[{registrantinfo.country}]}, {[{registrantinfo.zipcode}]}

                <br>

                <span class="size_24 bl teal_text">&nbsp;<br>Workshop Information</span>
                <span class="inbl mrg_ls bbb width_100">What:</span>
                    {[{workshopinfo.titlename}]} <br>
                <span class="inbl mrg_ls bbb width_100">Where:</span>
                    <span ng-if="workshopinfo.venueid != 'bnbcenter'">{[{workshopinfo.venue}]} </span>
                    <span ng-if="workshopinfo.venueid == 'bnbcenter'">{[{thisCenter.centertitle}]} </span>
                    <br>
                <span class="inbl mrg_ls bbb width_100">Address:</span>
                    <span ng-if="workshopinfo.venueid != 'bnbcenter'">{[{workshopinfo.address}]}, {[{workshopinfo.zipcode}]} </span>
                    <span ng-if="workshopinfo.venueid == 'bnbcenter'">{[{thisCenter.centeraddress}]}, {[{thisCenter.centerzip}]} </span>

                    <br>
                <span class="inbl mrg_ls bbb width_100">Phone:</span>
                    <span ng-if="workshopinfo.venueid != 'bnbcenter'">{[{workshopinfo.phone}]}  </span>
                     <span ng-if="workshopinfo.venueid == 'bnbcenter'">{[{thisCenter.phonenumber}]}  </span>

                <br>

                <span class="size_24 bl teal_text">&nbsp;<br>Payment Information</span>
                <span class="inbl mrg_ls bbb width_100">Confirmation Number:</span>
                    {[{paymentinfo.confirmation}]} <br>
                <span class="inbl mrg_ls bbb width_100">Payment:</span>
                    Paid ${[{paymentinfo.payment}]}.00 via {[{paymentinfo.paymenttype}]}

                <br><br>

                    <hr class="hr_thin_blue" />
                <br>
                Dear {[{registrantinfo.name}]}, <br>
                <br>
                Congratulations! You have made and appointment to try
                <b>"{[{workshopinfo.titlename}]}"</b> Workshop. <br>
                Get Ready for less stress and more energy! <br>
                We will contact you soon to confirm your appointment. <br>
                Please be sure to arrive 15 minutes before the workshop. <br>
                <br>
                Please print this page for your records.
                If you have any questions,please contact us at:
                Phone:
                <span ng-if="workshopinfo.venueid != 'bnbcenter'">{[{workshopinfo.phone}]}  </span>
                <span ng-if="workshopinfo.venueid == 'bnbcenter'">{[{thisCenter.phonenumber}]}  </span>

                or Email: {[{workshopinfo.website}]}
                Your confirmation number is {[{paymentinfo.confirmation}]} <br>
                <br>
                We look forward seeing you. Thank you!<br>
                <br><br>
                Truly yours,<br>
                <br>
                <b>The BodynBrain.com Team</b>
                <br>
                <hr class="hr_thin_blue" />
                <span class="size_18 bl teal_text">&nbsp;<br>Map</span>
                <div id="map_canvas" style="width:100%; height:400px;">
                  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                  <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                  </ui-gmap-marker>
                  </ui-gmap-google-map>
                </div>
            </div>
        </div>
      </section>
    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->

<div class="chrono hidden" id="modal-agreement" align=center> <br><br><br>
<div class="workShops_popup_wrap_header">
	<img href="#!" src="/img/frontend/popup_close.png" class="float_right close-agreement waves-effect cursor_pointer">
	<h5 class="title">Body &amp; Brain yoga Workshop Agreement</h5>
</div>
<div class="workShops_popup_wrap" align=left>
	<div class="txtcon">

		<a href="#parties">1. PARTIES; DEFINITIONS </a><br>
		<a href="#expiration">2. EXPIRATION; CHANGES IN SCHEDULE AND DETAILS</a><br>
		<a href="#advice">3. NO MEDICAL SERVICES OR ADVICE; PHYSICAL AND MENTAL CONDITION</a><br>
		<a href="#confidentiality">4. CONFIDENTIALITY</a><br>
		<a href="#participation">5. VOLUNTARY PARTICIPATION</a><br>
		<a href="#risk">6. ASSUMPTION OF RISKS</a><br>
		<a href="#liability">7. WAIVER AND COMPLETE RELEASE OF LIABILITY</a><br>
		<a href="#resolution">8. DISPUTE RESOLUTION</a><br>
		<a href="#law">9. GOVERNING LAW</a><br>
		<a href="#policy">10. REFUND POLICY; NOTICIES</a><br>
		<a href="#nature">11. PURPOSE AND NATURE OF WORKSHOP(S)</a><br>
		<a href="#rules">12. WORKSHOP(S) POLICIES AND RULES</a><br>
		<a href="#materials">13. PROPRIETARY MATERIALS</a><br>
		<a href="#touching">14. PHOTO/AUDIO/VIDEO/TESTIMONIAL RELEASE; PHYSICAL TOUCHING</a><br>
		<a href="#dredit">15. PROVISION FOR CREDIT OR UPGRADE ONLY</a><br>
		<a href="#provisions">16. GENERAL PROVISIONS</a><br><br>


		<span id="parties" name="parties">
			1. PARTIES; DEFINITIONS—The term “sign” or signing” means executing or adopting as permitted by law of any electronic sound, symbol, or process attached to or logically associated with an agreement by a person with the intention to accept the agreement.  For example, signing can be done by clicking an "I Agree" checkbox or button on a webpage containing the link to an agreement. Subject to the terms of this Workshop Agreement (“Agreement”), the signing participant (“Participant”) agrees to participate in the Workshop(s) that Participant has selected and is registering for through online registration of www.dahnyoga.com (“Workshop(s)”), and Body &amp; Brain yoga &amp; Health Centers, Inc., an Arizona corporation, agrees to provide the Workshop(s) to Participant. The term “Activities” means the Workshop(s) and/or other related activities.  The term “Body &amp; Brain yoga” includes Body &amp; Brain yoga &amp; Health Centers, Inc., its affiliates, subsidiaries, business licensors, referring persons or entities and the owners and lessors of the premises (“Premises”) used for the Activities and their respective employees, agents, principals, contractors, managers, officers, directors, shareholders, successors and assigns. used for the Activities and their respective employees, agents, principals, contractors, managers, officers, directors, shareholders, successors and assigns.
		</span>
		<br><br>
		<span id="expiration" name="expiration">
			2. EXPIRATION; CHANGES IN SCHEDULE AND DETAILS—Participant must complete the Workshop(s) within the period of 1 year after signing this Agreement.  After such period, no service, credit or refund shall be provided under this Agreement.  The schedule and details of the Workshop(s) are subject to change.
		</span>
		<br><br>
		<span id="advice" name="advice">
			3. NO MEDICAL SERVICES OR ADVICE; PHYSICAL AND MENTAL CONDITION—Participant understands that Body &amp; Brain yoga does not provide medical, psychological or other professional health care, advice, diagnosis or treatment.  Participant represents that s/he is not participating in the Activities to handle a physical, mental, or emotional illness and s/he is clear that no portion of the Activities is delivered or supervised by health professionals.  Participant understands Body &amp; Brain yoga is not responsible for providing medical advice with respect to Participant’s physical or mental condition and ability to participate in the Activities.  Participant acknowledges that s/he has consulted or has had an opportunity to consult with a qualified medical professional before signing this Agreement.  Participant represents s/he is in good physical and mental condition and has no medical reason or impairment that might prevent him/her from using the Premises or participating in the Activities.  Participant promises to immediately inform Body &amp; Brain yoga’s staff if s/he experiences any physical, mental or emotional sensation out of the ordinary relating to the Activities.
		</span>
		<br><br>
		<span id="confidentiality" name="confidentiality">
			4. CONFIDENTIALITY—In order to promote and respect the confidentiality of other participants and Body &amp; Brain yoga’s intellectual property, Participant agrees that (i) s/he will not publish, broadcast or disclose or assist another person or organization in publishing, broadcasting or disclosing the identity, likeness or actual or paraphrased comments, of other participants in the Workshop(s), or staff or persons participating in the delivery of the Workshop(s); (ii) s/he will not record any portion of the Workshop(s), any participants in the Workshop(s), or staff or persons participating in the delivery of the Workshop(s) by audio, video, photo camera, or other means; and (iii) that s/he will not take into the Premises a tape or video recorder, movie or still camera, or any device, electronic or otherwise, intended to record the voice or likeness of any person in the Premises.
		</span>
		<br><br>
		<span id="participation" name="participation">
			5. VOLUNTARY PARTICIPATION—Participant represents that his/her participation in and payment for the Activities are voluntary and based on his/her free will, and not as a result of undue influence, coercion, pressure, a condition of employment, or to satisfy anyone other than Participant.  Participant understands Body &amp; Brain yoga is providing the Activities in reliance on such representation.
		</span>
		<br><br>
		<span id="risk" name="risk">
			6. ASSUMPTION OF RISKS—Participant acknowledges and understands that participation in the Activities or use of Premises could cause physical or other injury to Participant and/or damage his/her personal property, and that as s/he progresses and advances through the Activities, physical and mental demands may increase and at times be extremely strenuous and exhausting, both physically and mentally.  Participant knowingly, freely and willingly agrees to assume all those risks.
		</span>
		<br><br>
		<span id="liability" name="liability">
			7. WAIVER AND COMPLETE RELEASE OF LIABILITY—Participant hereby forever and expressly releases Body &amp; Brain yoga from any and all claims, demands, suits, judgments, damages, actions and liabilities of every name and nature whatsoever, whenever occurring, whether known or unknown, contingent or fixed, at law or in equity, that Participant may suffer from or in connection with the Activities or his/her use of the Premises, including any injury or harm to him/her, or loss or theft of or damage to his/her property, whether or not such injury, harm, loss or theft was caused by negligence, carelessness or any other cause.  Participant agrees that s/he will not bring or be a party to any legal action or claim against Body &amp; Brain yoga based upon or arising out of his/her participation in the Activities or use of the Premises, on any legal theory, including but not limited to personal injury, undue influence and infliction of emotional distress.
			<br><br>
			<span id="resolution" name="resolution">
				8. DISPUTE RESOLUTION—Any claim or dispute arising out of, or relating in any way to, this Agreement, the products and/or services provided by Body &amp; Brain yoga or the relationship between Participant and Body &amp; Brain yoga except for small claims court cases that qualify (“Dispute”) will be resolved by final and binding arbitration, rather than in court.  Disputes subject to arbitration include, but are not limited to: (i) claims based in contract, tort, statute and/or any other legal theory (including, but not limited to personal injury, misrepresentation, fraud, negligence, undue influence, infliction of emotional distress, unfair business practice, consumer protection law violation and RICO violation), (ii) claims that arose before this Agreement or any prior agreement (including, but not limited to, claims relating to advertising), and (iii) claims that may arise after the termination or expiration of this Agreement.  There is no judge or jury in arbitration.  However, an arbitrator can award the same damages and relief as a court.  Participant and Body &amp; Brain yoga agree that any arbitration, lawsuit or other proceedings to resolve a Dispute will be conducted on an individual basis and not in a class, consolidated, collective or private attorney general action.  The Federal Arbitration Act governs the interpretation and enforcement of this Dispute Resolution provision.  The arbitrator, and not any federal, state, or local court or agency, shall have exclusive authority to resolve any claims or disagreements relating to the interpretation, applicability, enforceability or formation of this Agreement including, but not limited to the arbitrability of any Dispute and any claim that all or any part of this Agreement is invalid, void or voidable.  If a Dispute proceeds in court rather than in arbitration, each party waives any right to a jury trial.  The arbitration process may be initiated by either party upon written notice sent to the other by certified mail.  The arbitration shall be administered by the American Arbitration Association (“AAA”) under its Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes (“AAA Rules”).  The arbitration will be conducted by a single, neutral arbitrator and will take place in the county of the location of any of the Workshop(s) that Participant has registered for under this Agreement or at another mutually agreed location.  For claims of $10,000 or less, Participant can choose whether the arbitration is carried out based only on written submissions, by a hearing in-person or by phone.  The AAA Rules are available at www.adr.org or 1-800-778-7879.  If any of the AAA Rules conflict with the terms of this Agreement, the terms of this Agreement will prevail.  The arbitrator shall have no authority to add to, subtract from or modify in any manner this Agreement.  Except as may be permitted or required by law, neither Participant, Body &amp; Brain yoga nor the arbitrator may disclose the existence, content, or results of the arbitration without the prior written consent of all parties to the arbitration.  Nothing from the arbitration may be introduced in any form in future arbitrations, court actions or any other proceedings except to enforce the arbitration award.  Either Participant or Body &amp; Brain yoga has the right to seek relief in the appropriate court to prevent any actual or threatened breach of this arbitration non-disclosure provision or the Confidentiality provision or the Proprietary Materials provision.  Each party shall bear his, her or its own attorneys’ fees and costs.  The AAA Rules will govern payment of all filing, administration and arbitrator fees, and Body &amp; Brain yoga will reimburse those fees for claims totaling less than $10,000 unless the arbitrator determines the claims are frivolous.  If the arbitrator or a court determines that any part of the dispute is not subject to arbitration, the parties agree and stipulate that the part of the dispute that is not subject to arbitration shall be stayed pending resolution of the arbitration.
				<br><br>
				<span id="law" name="law">
					9. GOVERNING LAW—Participant and Body &amp; Brain yoga agree that the Federal Arbitration Act, applicable federal law, and the laws of the state of Arizona, USA, without regard to principles of conflict of laws, will govern this Agreement and any Dispute of any sort that might arise between Participant and Body &amp; Brain yoga.
				</span>
				<br><br>
				<span id="policy" name="policy">
					10. REFUND POLICY; NOTICIES—If a refund request for a Workshop is received within the period of 30 calendar days after signing this Agreement (“30 Day Period”), fees paid for that Workshop will be refunded, and if it is received after the 30 Day Period, fees paid for that Workshop will be refunded minus a $50 administrative fee (“Administrative Fee”); provided, however, that no refund for a Workshop shall be available if Participant (i) completes the Workshop, (ii) starts and leaves the Workshop early for any reason, or (iii) does not show up to a Workshop Participant registered for without at least 48 hours’ notice.  The Administrative Fee, if any, will be applied only once per refund request.  All notices of refund requests hereunder shall be made in writing, including specific reasons, and submitted (a) by email to: customerservice@bodynbrain.com, or (b) by mail to: Body &amp; Brain yoga &amp; Health Centers, Inc., Attn: Customer Service, 3651 E. Baseline Rd. #223, Gilbert, AZ 85234.
				</span>
				<br><br>
				<span id="nature" name="nature">
					11. PURPOSE AND NATURE OF WORKSHOP(S)—The Workshop(s) are designed to exclusively provide personal-growth and self-improvement guidance and resources for improving general quality of life.  The purposes of the Workshop(s) are not physical culture, fitness training or other physical exercise. Participant acknowledges that Body &amp; Brain yoga has not made any promises, guarantees or warranties as to the purposes or benefits of the Workshop(s) related to physical fitness, conditioning or well-being.  The Workshop(s) are purely avocational, and no academic, vocational, technical, professional or other post-secondary education or training will be provided.  The Workshop(s) are special event(s) of limited duration, and no membership to any services or facilities will be provided under this Agreement.
				</span>
				<br><br>
				<span id="rules" name="rules">
					12. WORKSHOP(S) POLICIES AND RULES—Participant agrees to follow the policies and rules of the Workshop(s).  Body &amp; Brain yoga reserves the right to terminate this Agreement, or physically remove or request the physical removal of Participant at any time for Participant’s failure to follow any of these policies and rules.
				</span>
				<br><br>
				<span id="materials" name="materials">
					13. PROPRIETARY MATERIALS—Participant understands that all materials, concepts, and information (“Materials”) presented by Body &amp; Brain yoga during the Activities, either orally or in writing, are the property of Body &amp; Brain yoga and are protected by copyright, trade secret, and other applicable laws.  Participant agrees not to copy, record, modify, transmit, lend, display, perform, create derivative works from, distribute or reproduce in any way any Materials without Body &amp; Brain yoga’s prior written permission.
				</span>
				<br><br>
				<span id="touching" name="touching">
					14. PHOTO/AUDIO/VIDEO/TESTIMONIAL RELEASE; PHYSICAL TOUCHING—Participant authorizes Body &amp; Brain yoga to record his/her name, likeness, image, voice, appearance and/or performance during the Activities by audio, video, photo camera, or other means, and grant Body &amp; Brain yoga the right to use such recordings, his/her name, written testimonial and biographical information, for any commercial or non-commercial purpose, in perpetuity and worldwide.  During the Activities, Body &amp; Brain yoga’s instructors/employees may need to touch Participant.  By signing this Agreement, Participant consents to such touching.  Participant understands that if Participant has any objection or sensitivity to such touching it is his/her responsibility to inform the instructors/employees.
				</span>
				<br><br>
				<span id="dredit" name="dredit">
					15. PROVISION FOR CREDIT OR UPGRADE ONLY—Participant releases Body &amp; Brain yoga from all liabilities and obligations arising out of or related to the previous program that is being upgraded or for which a credit is being given as set forth in the Credit/Upgrade section, including but not limited to any liability to provide a refund, credit or service for said program.
				</span>
				<br><br>
				<span id="provisions" name="provisions">
					16. GENERAL PROVISIONS—This Agreement contains the entire agreement between Participant and Body &amp; Brain yoga with respect to the subject matter hereof and replaces any oral or other written agreements or representations.  Participant acknowledges that neither Body &amp; Brain yoga nor anyone else made any representations or promises upon which Participant relied that are not stated in this Agreement.  If any provision of this Agreement or its application is invalid, void or unenforceable, the remainder of this Agreement will not be impaired or affected and will remain in full force and effect.  If Body &amp; Brain yoga does not enforce any right in this Agreement for any reason, it does not waive its right to enforce it later.  Participant shall not assign any of his/her rights, interests or obligations under this Agreement without written consent of Body &amp; Brain yoga.  This Agreement is binding upon Participant, his/her heirs, executors, administrators and legal representatives.  All provisions of this Agreement that, by their nature, should survive expiration or termination of this Agreement will survive expiration or termination, including but not limited to Paragraphs 3, 4, 5, 6, 7, 8, 9, 13, 14, 15 and 16 of this Agreement.
				</span>
			</span></span></div>
		</div>
</div>

<div class="chrono1 hidden">
    <div class="loaders">Loading...</div>
    <div class="txtloading">
        <div class="white_text loadingtext"><center>Loading Please wait...</center></div>
    </div>
</div>
<?php echo $this->getContent()?>
