<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?><div class="navi" style="margin: 0px 0px 30px; padding: 2px 0px 0px; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(230, 230, 230); font-family: 'Droid Sans', sans-serif, Arial; font-size: 12px; font-stretch: inherit; line-height: 30px; vertical-align: baseline; height: 30px; color: rgb(227, 24, 54);">
      <a href="/" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-decoration: none; color: rgb(227, 24, 54);">
        Home
      </a>
      
      <a href="" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-decoration: none; color: rgb(227, 24, 54);">
        Workshops
      </a>
      
      <span class="current" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; color: rgb(102, 102, 102);">
        Schedules
      </span>
</div>

<div class="container-fluid" ng-controller="workshopCtrl">
  <div class="row">
    <div class="col s12">
      <section id="content">
        <div id="special_page_sidebarmenu">
          <div id="sidebarmenu">
          <ul>
            <li><a href="/workshops"><label class="dot"> ▪</label> Overview</a></li>
            <li><a href="/page/view/initial-awakening"><label class="dot"> ▪</label> Initial Awakening</a></li>
            <li><a href="/page/view/finding-true-self"><label class="dot"> ▪</label> Finding True Self</a></li>
            <li><a href="/page/view/sedona-retreat"><label class="dot"> ▪</label> Sedona Retreat for Change</a></li>
            <li><a href="/page/view/solar-body-natural-healing-course"><label class="dot"> ▪</label> Solar Body Natural Healing Course</a></li>
            <li><a href="/page/view/dahnmudo"><label class="dot"> ▪</label> DahnMudo™</a></li>
            <li><a href="/page/view/brain-management-training"><label class="dot"> ▪</label> Brain Management Training</a></li>
            <li><a href="/page/view/dahn-master-course"><label class="dot"> ▪</label> Dahn Master Course</a></li>
            <li><a href="/page/view/meditation-tours"><label class="dot"> ▪</label> Meditational Tours</a></li>
            <li class="active"><a href="/workshops/workshopschedules/all"><label class="dot"> ▪</label> Schedules</a></li>
            <li><a href=""><label class="dot"> ▪</label> Healthier Together</a></li>
          </ul> 
          </div>
        </div>
        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" />
          </form>
          <div class="clearboth"></div>
        </div>

      </section>

      <section id="right_body" class="custom_width">
        <form name="workshopSform" method="POST">
        <span class="main_title bl">Workshop Schedules</span>
        Search by any combination of workshop, location, and date. Please select at least one of the following to begin your search.  

        <hr class="hr_thin_gray">

        <div class="row">
          <div class="col l2 worksched-label">
            Workshops 
          </div>
          <div class="col l8 full-sized">
            <select class="form_element_normal" ng-init="workshopS.title = inittitle " ng-change="titlechange(workshopS.title)" ng-model="workshopS.title" ng-options="title.titleslugs as title.title for title in titles" >
              <option value="">All</option>
              <option ng-repeat="title in titles" ng-value="title.titleslugs">{[{title.title}]}</option>
            </select>
          </div>
        </div>
        
        <div class="row">
          <div class="col l2 worksched-label">
            State
          </div>
          <div class="col l3 half-sized">
            <select class="form_element_normal" ng-model="workshopS.state" ng-change="statechange(workshopS.state)">
              <option value="">All</option>
              <option ng-repeat="state in states" ng-value="state.state_code">{[{state.state}]}</option>
            </select> 
          </div>
          <div class="col l2 worksched-label city-label">
            City
          </div>
          <div class="col l3 half-sized">
            <select class="form_element_normal" ng-model="workshopS.city" ng-change="citychange(workshopS.city)">
              <option value="">All</option>
              <option ng-repeat="city in cities" ng-value="city.centercity">{[{city.centercity}]}</option>
            </select> 
          </div>
        </div>
        <div class="row">
          <div class="col l2 worksched-label">
            Date
          </div>
          <div class="col l8 full-sized">
            <select class="form_element_normal" ng-model="workshopS.datechoice">
              <option value="">All</option>
              <option ng-repeat="date in date_choices" ng-value="date.datelike">{[{date.month_year}]}</option>
            </select> 
          </div>
        </div>

        <div class="row">
          <div class="col l10 btn-container" style="text-align:right">
            <button type='submit' ng-click="search(workshopS)"></button>
          </div>
        </div>
        <br>
        <div class="row row-result">
          <div class="col s12 dev_text">
          Please note that dates and locations are subject to change. <br>
          Verify details with your local Body & Brain yoga center a few days before the workshop starts.
          </div>
          <div class="col s12" ng-if="lastnumber != 0">
            <h4 class="teal_text">Search Results</h4>
            <span>Displaying
              <a class="bluish_text">
                {[{itemfinaloffset}]} - {[{lastnumber}]}
              </a> of 
              <a class="bluish_text">
                {[{TotalItems}]} 
              </a> results
            </span>

            <table class="tbl_blueheader border_light_gray">
              <thead class="bg_blue">
                <tr>
                  <th scope="col" class="link">Workshops</th>
                  <th scope="col">Date(s)</th>
                  <th scope="col">Location</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Sign up!</th>
                </tr>
              </thead>
              <tbody class="border_light_gray">
                <tr ng-repeat="workshop in workshops">
                  <td><a href="/workshops/view/detail/{[{workshop.workshopid}]}">{[{ workshop.titlename }]}</a></td>
                  <td>{[{dates_of_schedule[$index]}]}</td>
                  <td ng-if="workshop.venue != 'bnbcenter'">{[{ workshop.city}]}, {[{ workshop.SPR}]}</td>
                  <td ng-if="workshop.venue == 'bnbcenter'">{[{ workshop.centercity}]}, {[{ workshop.centerstate}]}</td>
                  <td ng-if="workshop.venue != 'bnbcenter'">{[{ workshop.contact }]}</td>
                  <td ng-if="workshop.venue == 'bnbcenter'">{[{ workshop.phonenumber }]}</td>
                  <td><a href="/workshops/registration/{[{workshop.workshopid}]}" class="red_text font_85 border_light_gray border_radius_s padding_s">Sign Up</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <br><br>
            <pagination total-items="TotalItems" ng-model="CurrentPage" max-size="5" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(CurrentPage)" align=center></pagination>
          </div>
          <div ng-if="lastnumber == 0">
            <h4 class="warning_message">No Result!</h4>
          </div>
        </div>
      </form>
      </section>
    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->

<?php echo $this->getContent()?>