<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?><h2 class="hd1 bluegreen_text" id="findcenter-title">Find a Center <span class="size_18 mrg_ls cream_text">Find the center nearest you.</span></h2>
<div class="getstarted secondstep" id="findcenter-locations" ng-controller="locationCtrl">
		<div class="box_wrap" id="gototop">
		<div class="inner_wrap">

			<div class="form">
				<form name="formsearch" ng-submit="searchcenter(search)">
				<legend>Find a Center</legend>
				<div class="input_box">
					<label for="input_zip">Search By <span>Zip Code</span></label>
					<input name="txtZipcode" type="text" id="txtZipcode" class="input_text" ng-model="search.zip">

					<span class="desc">(Ex : 85252)</span>
				</div>
				<div class="input_box">
					<label for="input_city">Search By <span>City &amp; State</span></label>
					<input name="txtCity" type="text" id="txtCity" class="input_text" ng-model="search.city">

					<span class="desc">(Ex : Tempe, AZ)</span>
				</div>
				<div class="input_box findcenter">
					<label for="input_state">Search By <span>State</span></label>

						<select class="select_wrap" ng-model="search.state">
							<option value="">Select State</option>
							<option value="AZ">Arizona</option>
  						<option value="CA">California</option>
  						<option value="CO">Colorado</option>
  						<option value="DC">District of Columbia</option>
  						<option value="FL">Florida</option>
  						<option value="GA">Georgia</option>
  						<option value="HI">Hawaii</option>
  						<option value="IL">Illinois</option>
  						<option value="MA">Massachusetts</option>
  						<option value="MD">Maryland</option>
  						<option value="MN">Minnesota</option>
  						<option value="NC">North Carolina</option>
  						<option value="NJ">New Jersey</option>
  						<option value="NM">New Mexico</option>
  						<option value="NV">Nevada</option>
  						<option value="NY">New York</option>
  						<option value="OR">Oregon</option>
  						<option value="TX">Texas</option>
              <option value="UT">Utah</option>
  						<option value="VA">Virginia</option>
  						<option value="WA">Washington</option>
  						<option value="WI">Wisconsin</option>
						</select>
					<span class="desc">Select State</span>
				</div>
				<div class="btn_wrap">
					<div id="divErrorMsr" class="processMsg" style="display:none;">
						<p>* Please provide a valid 5 character zip code.</p>
					</div>
					<div class="processMsg">

					</div>
					<center>
						<button type="submit" class="btn_find loc_search_btn border_radius_s" style="background:#4a9da6 !important;"><span>Find a Center</span></button>
					</center>
				</div>
				</form>
			</div>
			<!-- find result -->

			<div class="location_wrap" ng-show="noresults">
				<div class="result_wrap">
					<center><h5 class="sub_title2">No Result Found</h5></center>
				</div>
			</div>

			<div class="location_wrap" ng-show="locationresults">
				<div class="result_wrap">
					<p class="desc"><span class="red_text">Search Results</span> : click the center name for more information</p>
					<p class="desc2">* Franchises &nbsp;** Operated by affiliated company</p>
					<br>
					<br>
					<table class="result_table radio_container" id="result_tb">
						<colgroup>
						<col width="80">
						<col width="80">
						<col width="320">
						<col width="100">
						<col width="120">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" style="background:#e66665 !important">#</th>
							<th scope="col" style="background:#e66665 !important"colspan="2">Center Name and Address</th>
							<th scope="col" style="background:#e66665 !important" ng-if="locationlist[0].fdistance">Distance</th>
							<th scope="col" style="background:#e66665 !important"> </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="list in locationlist | orderBy:'fdistance'">
							<td>{[{$index + 1}]}</td>
							<td class="radio">

							</td>
							<td class="center">
								<p class="name"><label for="radio_center_01"><a href="/{[{list.centerslugs}]}">{[{list.centertitle}]}
								<span style="color:#666;" ng-if="list.centertype == 1"></span>
								<span style="color:#666;" ng-if="list.centertype == 2">*</span>
								<span style="color:#666;" ng-if="list.centertype == 3">**</span>
								</a></label> </p>
								<p> {[{list.centeraddress}]}, {[{list.centercity}]}, {[{list.centerstate}]}, {[{list.centerzip}]}</p>
								<p>Phone : {[{list.phonenumber}]} </p>
							</td>
							<td ng-if="list.fdistance || list.fdistance == 0">{[{list.fdistance}]} Miles</td>
							<td style="text-align:left !important; padding-left:10px !important;">
								Visit <a href="/{[{list.centerslugs}]}" class="size_16 bluish_text">{[{list.centertitle}]} center's homepage</a> for more detailed information
							</td>
						</tr>
					</tbody>
				</table>
				<div class="carderror">{[{pickcentermsg}]}</div>
				<div class="btn_wrap" ng-show="btnpickcenter">
					<input ng-click="gotoschedule()" type="button" value="Choose this center" class="btn_find">
				</div>

				<!-- google map -->
				<br>
				<h5 class="sub_title2">US Body & Brain yoga Center Locations</h5>

				<div class="result_map">
					<div id="map_canvas">
						<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
							<ui-gmap-markers models="randomMarkers" coords="'self'"  icon="'icon'">
								<ui-gmap-windows show="show">
					                <div ng-non-bindable>{[{title}]}</div>
					            </ui-gmap-windows>
							</ui-gmap-markers>
						</ui-gmap-google-map>
			        </div>
				</div>

			</div>
			</div>

			</div>
		</div>
	</div>

	<style>

.loaders,
.loaders:before,
.loaders:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loaders:before,
.loaders:after {
  position: absolute;
  top: 0;
  content: '';
}
.loaders:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loaders {
  text-indent: -9999em;
  margin: 250px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loaders:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

.txtloading{
	width: 100%;
	overflow: hidden;
	position:fixed;
	margin: 10px auto;
	top:350px;
}
.loadingtext{
	width: 200px;
	margin: 10px auto;
	top:350px;
}

</style>

<div class="chrono hidden"  id="non-printable">
	<div class="loaders">Loading...</div>
	<div class="txtloading">
		<div class="white_text loadingtext"><center>Loading Please wait...</center></div>
	</div>
</div>
