#crumbs_cont{
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
#crumbs ul, li.crumbsli {
list-style-type:none;
padding:0 0 10px 0;
margin:0;
}

#crumbs {
  height:1em;
 /* border:1px solid #dedede;*/
  }
#crumbs li {
  float:left;
  line-height:1em;
  color:#777;
  padding-left:.75em;
  }   
#crumbs li a.crumbs {
  background:url(/img/frontend/crumbs.gif) no-repeat right center;
  display:block;
  padding:0 15px 0 0;
  font-size: 12px;
  }             
#crumbs li a.crumbs:link,
#crumbs li a.crumbs:visited {
  color:#777;
  text-decoration:none;
  } 
#crumbs a.crumbs:link, #crumbs a:visited,  
#crumbs li a.crumbs:hover,
#crumbs li a.crumbs:focus {
  color:#dd2c0d;
}
a.crumbscategory{
  font-size: 12px !important;
  color:#777 !important;
  display:block;
  padding:0 0 10px 0;
}