#cnter_name{
	margin-bottom: -10px;
	font-size: 40px;
	color: #333;
}
#c_container{
	width: 75%;
	float: left;
	padding: 10px;
}

#c_rightcont{
	width: 25%;
	float: left;
	padding: 0px 10px 10px 10px;
	margin: 10px 0px 0px 0px;
}
.center_news{
	float: left;
}
.center_view_link{
	float: right;
}

#cent_h1{
	font-size: 15px;
}
#new_title1{
	color: #333;
}
#new_title1 a{
	margin: 35px 10px 0px 0px;
	font: 20px;
	color: blue;
	text-decoration: underline;

}


#new_title{
	background: #e66665;
	padding: 0px 15px 0px 10px;
	color: #fff;
}
#new_title a{
	margin: 27px 0px 0px 0px;
	font: 20px;
	color: #fff;

}
#news_cont{
	border: 1px solid #aaa;
	padding: 10px;
}
#news_cont img{
	width: 100%;
}
.cent_h2{
	font-size: 20px;
}
.cent_h1{
	font-size: 25px;
}
#cntr_calendar {
	border-top: 5px solid #e66665;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

#cntr_calendar .cntr_cal_date{
	/*background: #bbb;*/
	width: 25%;
	float: left;
	padding: 15px 0px 0px 25px;
}
.cntr_cal_date .week{
	font-size: 22px;
	color: #00529b;
	margin-bottom: -30px;
}
.cntr_cal_date .day{
	font-size: 26px;
	color: #121212;
	margin-bottom: -20px;
}
.cntr_cal_date .time{
	font-size: 13px;
	color: #888;
}
#cntr_calendar .cntr_cal_cont{

	width: 75%;
	/*height: 100px;*/
	float: left;
}
#cntr_calendar .title{
	margin-bottom: 15px;
	font-size: 20px;
	color: #121212;
}
#cntr_calendar .cont{
	font-size: 15px;
	color: #121212;
}

/* RIGHT NAVIGATION/////////////////////////////////////////////////////////////////////////*/

.right_banner .banner_img{
	width: 100%;

}
.img_link {
	border: 1px solid #f5d4d3;
	padding: 5px 0px 0px 4px;
	margin-bottom: 10px;
}
.img_link ul,li{/*
	display: inline;
	text-align: center;*/
}
.img_link img{
	width: 32%;
}
.contact_us{
	border: 1px solid #aaa;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 10px 0px ;

}
.contact_us .p1{
	float: left;
	font-size: 25px;
	font-weight: bold;
	color: #265ac5;
}
.contact_us .p2{
	float: right;
	font-size: 23px;
}
#cntr_info{
	padding: 10px;
	border: 1px solid #aaa;
}
#cntr_info p{
	font-size: 18px;
	margin-bottom: -3px;
}
#cntr_info label{
	font-size: 14px;
	color: red;
}
#cntr_info .cntr_email{
	margin: 20px 0px 0px 0px;
	color: blue	;
}


#cntr_suc_story .suc_story_title{
	float: left;
	font-size: 20px;

}
#cntr_suc_story .suc_story_seemore{
	float: right;
	font-size: 12px;
	margin-top: 27px;

}
#suc_story img{
	float: left;
	border-radius: 100%;
	width: 110px;
	height: 110px;
	padding: 10px;
}

#suc_story .suc_story_info{
	float: left;
	width: 60%;
	margin: 20px 0px 0px 0px;
	font-size: 13px;
}

#suc_story a{
	color: blue;
}

#soc_net p{
	margin-bottom: 10px;
	height: 34px;
	line-height: 25px;
	font-size: 23px;
	color: #000;

}
.line{
	margin-top: 30px;
	height: 4px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}




/*MEDIA QUERY///////////////////////*/

/*// Really large screens*/
@media only screen and (max-width: 1400px) {
	#cntr_suc_story .suc_story_title{
		margin: 20px 0px -25px 0px;
		float: none;
		font-size: 20px;

	}
	#cntr_suc_story .suc_story_seemore{
		float: none;
		font-size: 12px;
		margin-top: 27px;

	}
}

@media only screen and (max-width: 1377px) {
	/*SUCCESS STORY/////////////////////*/
	#suc_story{
		margin: 0px 0px 10px 0px;
		width: 100%;
		float: left;
		min-height: 350px;
		padding-left: 10px;
	}
	#suc_story img{
		float: none;
		border-radius: 100%;
		width: 200px;
		height: 200px;
		padding: 10px;
		margin: 0px 0px 0px 10%;
	}

	#suc_story .suc_story_info{
		text-align: center;
		float: none;
		width: 100%;
		margin: 20px 0px 0px 0px;
		font-size: 13px;
		padding-left: 10px;
	}
	/* END SUCCESS STORY/////////////////////*/


}
/*// Horizontal pads and laptops*/
@media only screen and (max-width: 992px) {
	#cntr_suc_story .suc_story_title{
		margin: 0px 0px 0px 0px;
		float: left;
		font-size: 20px;

	}
	#cntr_suc_story .suc_story_seemore{
		float: left;
		font-size: 12px;
		margin-top: 27px;

	}

	#c_container{
		width: 100%;
		float: none;
		padding: 10px;
	}

	#c_rightcont{
		width: 100%;
		height: auto;
		float: none;
		padding: 0px 10px 10px 10px;
	}

	/*SUCCESS STORY/////////////////////*/
	#suc_story{
		margin: 0px 0px 10px 0px;
		width: 33.33333%;
		float: left;
		min-height: 350px;
		padding-left: 10px;
	}
	#suc_story img{
		float: none;
		border-radius: 100%;
		width: 200px;
		height: 200px;
		padding: 10px;
		margin: 0px 0px 0px 10%;
	}

	#suc_story .suc_story_info{
		text-align: center;
		float: none;
		width: 100%;
		margin: 20px 0px 0px 0px;
		font-size: 13px;
		padding-left: 10px;
	}
	/* END SUCCESS STORY/////////////////////*/


	/* SOCIAL LINK/////////////////////*/
	#soc_net {
		text-align: center;
	}
	/* END SOCIAL LINK/////////////////////*/


}

/*// Larger pads*/
@media only screen and (max-width: 768px) {
	/*SUCCESS STORY/////////////////////*/
	#suc_story{
		margin: 0px 0px 10px 0px;
		width: 49%;
		float: left;
		min-height: 350px;
		padding-left: 10px;
	}
	#suc_story img{
		float: none;
		border-radius: 100%;
		width: 200px;
		height: 200px;
		padding: 10px;
		margin: 0px 0px 0px 10%;
	}

	#suc_story .suc_story_info{
		text-align: center;
		float: none;
		width: 100%;
		margin: 20px 0px 0px 0px;
		font-size: 13px;
		padding-left: 10px;
	}

}


/*// Pads and larger phones*/
@media only screen and (max-width: 600px) {
	#suc_story{
		margin: 0px 0px 0px 0px;
		width: 100%;
		float: left;
		min-height: 150px;
		padding-left: none;
	}
	#suc_story img{
		float: left;
		border-radius: 100%;
		width: 150px;
		height: 150px;
		padding: 10px;
		margin: 0px 0px 0px 0px;
	}

	#suc_story .suc_story_info{
		text-align: left;
		float: left;
		width: 55%;
		margin: 20px 0px 0px 0px;
		font-size: 13px;
		padding-left: 10px;
	}
}


/*// Little larger screen*/
@media only screen and (max-width: 480px) {
	#cntr_calendar .cntr_cal_date{
	/*background: #bbb;*/
	width: 25%;
	float: left;
	padding: 15px 10px 0px 10px;
	margin-top: -8px;
}

#cntr_calendar .cntr_cal_cont{

	width: 75%;
	/*height: 100px;*/
	float: left;
}
#cntr_calendar .title{
	margin-bottom: 15px;
	font-size: 20px;
	color: #121212;
}
#cntr_calendar .cont{
	font-size: 15px;
	color: #121212;
}
}

/*// Little larger screen*/
@media only screen and (max-width: 441px) {

	#suc_story{
		margin: 0px 0px 0px 0px;
		width: 100%;
		float: none;
		min-height: 150px;
		padding-left: none;

	}
	#suc_story img{
		float: left;
		border-radius: 100%;
		width: 150px;
		height: 150px;
		padding: 10px;
		margin: 0px 0px 0px 25%;
	}

	#suc_story .suc_story_info{
		text-align: center;
		float: left;
		width: 100%;
		margin: 20px 0px 0px 0px;
		font-size: 13px;
		padding-left: 10px;
	}

}
