<?php
if($logoimage->value1 == 0){
  header('Location: /../');
}
?>
<html data-ng-app="app">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="/fe/css/materialize.css"  media="screen,projection"/>
  <link rel="shortcut icon" href="/img/frontend/favicon.gif" type='image/x-icon'/>
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="UNDER MAINTENANCE">
  <meta name="keywords" content="UNDER MAINTENANCE">
  <meta name="title" content="UNDER MAINTENANCE">
  <title>UNDER MAINTENANCE</title>

</head>

<body>
	<div class="row">
		<center><img src="/../img/frontend/maintenance.png" style="max-width:100%;margin-top:20px"></center>
	</div>
	<div class="row">
		<center><h4>
		We sincerely apologize for the inconvenience.<br>Our site is currently undergoing scheduled <br>
			maintenance and upgrades,but will return shortly.<br>
			Thank you for your patience.
		</h4></center>
	</div>
<!-- Google Analytics-->
<?php 
echo $script_google->script;
?>
<!--End  Google Analytics-->
</body>
</html>
