<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i>  API and Transactioon Key</div>
	<div class="panel-body">
	
		<p>1. Log into your Merchant Interface at <a href="https://account.authorize.net">https://account.authorize.net.</a></p>

		<p>2. Click <strong>Settings</strong> in the main left side menu.</p>

		<p>3. Click <strong>API Login ID and Transaction Key</strong>.</p>

		<p>4. Type in your Secret Answer. You should have configured a Secret Question and Secret Answer during account activation. If you have not configured this security feature for your account, you will need to do so before you can create these values. Please see your User Profile.</p>

		<p>5. Ensure that you do not check the box labeled, <strong>"Disable Old Transaction Key(s)".</strong></p>

		<p>6. Click <strong>Submit</strong> to continue or click Cancel to cancel the action. A new Transaction Key appears.</p>
	</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Close</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>




