<div class="panel panel-{[{tpl_type}]}">
	<div class="panel-heading"><i class="icon-info"></i> {[{tpl_title}]}</div>
	<div class="panel-body">
		<p>{[{tpl_msg}]}</p>               
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-info" ng-click="ok()">{[{tpl_true}]}</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>




