<form class="bs-example form-horizontal" name="form" ng-submit="ok(ref)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Referral Link
        </div>

        <div class="row wrapper">
                <div class="col-sm-12"> 
                Title
                </div>
                     <input type="hidden" ng-model="ref.linkid">
                <div class="col-sm-12"> 
                <span class="label bg-danger" ng-show="notification">Ooopss! Category Already Exist <br/></span>          
                   <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="ref.title" required="required">
                </div>
                <div class="col-sm-12"> 
                Link
                </div>
                <div class="col-sm-12"> 
                <span class="label bg-danger" ng-show="notification">Ooopss! Category Already Exist <br/></span>          
                   <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="ref.link" required="required">
                </div>
        </div>
        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || form.$pending || notification==true">Save</button>
            </footer>
        </div>
    </div>
    
</form>