<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<div class="container-fluid padding_top_md" ng-controller="successCtrl">
  <div class="row" id="center-row">
    <div class="col s12">
      <section id="special_page_sidecontent" class="center_sidecontent">
        <div id="special_page_sidebarmenu" class="center_sidebarmenu">
          <div class="sidebar-head">
            <a href="/<?php echo $center->centerslugs; ?>" class="white_text">
              <?php echo $center->centertitle; ?>
            </a>
          </div>
          <ul class="sidebarmenu-list">
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/info">
              <label class="dot"> &#x25AA; </label>Center Info</a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/blog/1"><label class="dot"> &#x25AA; </label>News</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/class-schedule"><label class="dot"> &#x25AA; </label>Class Schedule</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/success-stories/1"><label class="dot"> &#x25AA; </label>Success Stories</a></li>
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/calendar/1">
                <label class="dot"> &#x25AA; </label>
                <span class="bluish_text center_active">Calendar</span>
              </a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/pricing"><label class="dot"> &#x25AA; </label>Pricing</a></li>
          </ul>
        </div>

        <a href="/successstories/write" class="a_share_your_experience">
          <img src="/img/frontend/share.gif"> <br>
          Share <br> Your Experience
        </a>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" value="" />
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="middle_body">
        <h5 class="main_title">Our Center Calendar </h5>
        <ul id="calendar_list" class="calendar_list">
         <?php 
          $getginfo = $eventsdata;
          if(count($getginfo) == 0)
          {
            echo '<span class="warning_message">No Available Events</span>';
          }
          else
          {
            foreach ($getginfo as $key => $value) {
              $date = date_create($getginfo[$key]->activitydate);
              $dayofweek = date_format($date, "l");
              $day = date_format($date, "j");
              $month = date_format($date, "n");
          ?>
          <li>
            <div class="date_wrap">
              <p class="week" style="font-size:16px"><?php echo  $dayofweek; ?></p>
              <p class="day"><?php echo  $month; ?>/<?php echo  $day; ?></p>
              <p class="time"><?php echo $getginfo[$key]->activitytimefrom;  ?> <?php echo $getginfo[$key]->activitytimefromformat;  ?>- <?php echo $getginfo[$key]->activitytimeto;  ?> <?php echo $getginfo[$key]->activitytimetoformat;  ?></p>
            </div>
            <div class="text_wrap <?php echo $getginfo[$key]->activityid;  ?>">
              <p class="title"><?php echo $getginfo[$key]->activitytitle;  ?></p>
              <p><?php echo $getginfo[$key]->description;  ?></p>
              <a href="" class="btncalendar expand" alt="<?php echo $getginfo[$key]->activityid;?>" title="Expand">Expand</a>
            </div>
           
          </li>
          <?php } ?>

        </ul>

         <?php
                    // PAGINATION START
         echo '<div class="myPagination">';
         echo '<span first_page_line></span><a href="/'.$getcenterslugs.'/calendar/1" class="first_page"></a>&nbsp';
         $pageLastNumberKey = $totalpage - 4;
         if($page >= $pageLastNumberKey) {
          if($page > 1)
            echo '<a href="/'.$getcenterslugs.'/calendar/'.($page - 1).'" class="back_pagination"></a>&nbsp';
          for($i=max(1, $pageLastNumberKey); $i<=max(1, min($totalpage,$page+4)); $i++) 
          {
           if($i == $page)
            echo '<span class="active_page pagination_pages">'.$i.'</span>';
          else
            echo '<a href="/'.$getcenterslugs.'/calendar/'.$i.'" class="other_pages pagination_pages">'.$i.'</a>&nbsp';
        }
      }
      else {  
        if($page > 1) 
          echo '<a href="/'.$getcenterslugs.'/calendar/'.($page - 1).'" class="back_pagination"></a>&nbsp';
        for($i=max(1, $page); $i<=max(1, min($totalpage,$page+4)); $i++)
        {
         if($i == $page)
          echo '<span class="active_page pagination_pages">'.$i.'</span>';
        else
          echo '<a href="/'.$getcenterslugs.'/calendar/'.$i.'" class="other_pages pagination_pages">'.$i.'</a>&nbsp';
      }
    }
    if ($page < $totalpage)
      echo '<a href="/'.$getcenterslugs.'/calendar/'.($page + 1).'" class="next_pagination"></a>&nbsp;';
    echo '<a href="/'.$getcenterslugs.'/calendar/'.$totalpage.'" class="last_page"></a><span last_page_line></span>';
    echo"</div>";
            // PAGINATION ENDS
          } ?> 

      </section>

      <div class="clearboth"></div>
      <aside id="sidebar_right">
        <a href="/getstarted/starterspackage">
        <div class="bg_red2 padding_m text_center">
         <h5 class="size_18">TRY OUR CLASSES</h5>
         <hr class="hr_thin">
         Starter Packages
        </div>
        </a>
          <div class="popularpost">
            <div class="frmtitle marg_lft pop_feat" >Popular Features</div>
          <?php foreach($popular_features as $data) { ?>
              <div class="post">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                <img class="post_pic img_thumbnail" src="<?php echo $this->config->application->amazonlink.'/uploads/newsimage/'.$data->banner; ?>" />
              </a>
              <div class="small-text">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                  <?php  echo substr($data->description, 0, 50) . ".."; ?>
                </a>
              </div>
              <div class="clearboth"></div>
              </div>
          <?php } ?>
            <div class="clearboth"> </div>
          </div>
      </aside>
    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->
<?php echo $this->getContent()?>
