<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<div class="container-fluid padding_top_md" ng-controller="mapCtrl">
  <div class="row" id="center-row">
    <div class="col s12">
      <section id="special_page_sidecontent" class="center_sidecontent">
        <div id="special_page_sidebarmenu" class="center_sidebarmenu">
          <div class="sidebar-head">
            <a href="/<?php echo $center->centerslugs; ?>" class="white_text">
              <?php echo $center->centertitle; ?>
            </a>
          </div>
          <ul class="sidebarmenu-list">
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/info">
              <label class="dot"> &#x25AA; </label>Center Info</a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/blog/1"><label class="dot"> &#x25AA; </label>News</a></li>
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/class-schedule">
                <label class="dot"> &#x25AA; </label>
                <span class="bluish_text center_active">Class Schedule</span>
              </a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/success-stories/1"><label class="dot"> &#x25AA; </label>Success Stories</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/calendar/1"><label class="dot"> &#x25AA; </label>Calendar</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/pricing"><label class="dot"> &#x25AA; </label>Pricing</a></li>
          </ul>
        </div>

        <a href="/successstories/write" class="a_share_your_experience">
          <img src="/img/frontend/share.gif"> <br>
          Share <br> Your Experience
        </a>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" value="" />
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="right_body">
        <h5 class="main_title">Our Class Schedule</h5>
        <br>
        <div class="overflow_hidden">
          <table class="border_top_radius_m class_schedule">
            <thead>
              <tr class="no-margin bg_blue border_top_radius_m size_24 font_boldest">
                  <th class="text_center padding_s_px class_th border_left_radius_s">Mon</th>
                  <th class="text_center padding_s_px class_th">Tue</th>
                  <th class="text_center padding_s_px class_th">Wed</th>
                  <th class="text_center padding_s_px class_th">Thu</th>
                  <th class="text_center padding_s_px class_th">Fri</th>
                  <th class="text_center padding_s_px class_th">Sat</th>
                  <th class="text_center padding_s_px class_th border_right_radius_s">Sun</th>
              </tr>
            </thead>
            <tbody class="border_light_gray">
              <tr>
              <td colspan="7" class="border:none;">
                <span class="teal_text font_90 font_bolder">MORNING SESSION:</span>
              </td>
            </tr>
            <tr> <!-- MORNING -->
                <td class="text_90"> <!-- monday -->
            <?php foreach($schedules as $class) {
                    if(substr($class->starttime,-2) == 'AM' && ($class->mo != null || $class->mo != '' ) ) {
                      echo "<b>".$class->mo . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime . "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>

                </td>
                <td> <!-- tuesday -->
            <?php foreach($schedules as $class) {
                    if(substr($class->starttime,-2) == 'AM' && ($class->tu != null || $class->tu != '' ) ) {
                      echo "<b>".$class->tu . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>";  
                    }
                  } ?>
                </td>
                <td> <!-- wednesday -->
            <?php foreach($schedules as $class) {
                    if(substr($class->starttime,-2) == 'AM' && ($class->we != null || $class->we != '' ) ) {
                      echo "<b>".$class->we . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- thursday -->
            <?php foreach($schedules as $class) {
                    if(substr($class->starttime,-2) == 'AM' && ($class->th != null || $class->th != '' ) ) {
                      echo "<b>".$class->th . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- friday -->
            <?php foreach($schedules as $class) {
                    if(substr($class->starttime,-2) == 'AM' && ($class->fr != null || $class->fr != '' ) ) {
                      echo "<b>".$class->fr . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- saturday -->
            <?php foreach($schedules as $class) {
                    if(substr($class->starttime,-2) == 'AM' && ($class->sa != null || $class->sa != '' ) ) {
                      echo "<b>".$class->sa . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- sunday -->
            <?php foreach($schedules as $class) {
                    if(substr($class->starttime,-2) == 'AM' && ($class->su != null || $class->su != '' ) ) {
                      echo "<b>".$class->su . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
            </tr>
            <tr>
              <td colspan="7" class="border:none;">
                <span class="teal_text font_90 font_bolder">AFTERNOON SESSION:</span>
              </td>
            </tr>
            <tr> <!-- AFTERNOON -->
              <td> <!-- monday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time < 6 || $pm_time == 12) && ($class->mo != null || $class->mo != '' ) ) {
                      echo "<b>".$class->mo . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- tuesday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time < 6 || $pm_time == 12) && ($class->tu != null || $class->tu != '' ) ) {
                      echo "<b>".$class->tu . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>";  
                    }
                  } ?>
                </td>
                <td> <!-- wednesday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time < 6 || $pm_time == 12) && ($class->we != null || $class->we != '' ) ) {
                      echo "<b>".$class->we."</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- thursday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time < 6 || $pm_time == 12) && ($class->th != null || $class->th != '' ) ) {
                      echo "<b>".$class->th . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- friday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time < 6 || $pm_time == 12) && ($class->fr != null || $class->fr != '' ) ) {
                      echo "<b>".$class->fr . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- saturday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time < 6 || $pm_time == 12) && ($class->sa != null || $class->sa != '' ) ) {
                      echo "<b>".$class->sa . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>";  
                    }
                  } ?>
                </td>
                <td> <!-- sunday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time < 6 || $pm_time == 12) && ($class->su != null || $class->su != '' ) ) {
                      echo "<b>".$class->su . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
            </tr>
            <tr>
              <td colspan="7" class="border:none;">
                <span class="teal_text font_90 font_bolder">EVENING SESSION:</span>
              </td>
            </tr>
            <tr> <!-- EVENING -->
              <td> <!-- monday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time > 5 && $pm_time != 12) && ($class->mo != null || $class->mo != '' ) ) {
                      echo "<b>".$class->mo . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- tuesday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time > 5 && $pm_time != 12) && ($class->tu != null || $class->tu != '' ) ) {
                      echo "<b>".$class->tu . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- wednesday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time > 5 && $pm_time != 12) && ($class->we != null || $class->we != '' ) ) {
                      echo "<b>".$class->we . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- thursday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time > 5 && $pm_time != 12) && ($class->th != null || $class->th != '' ) ) {
                      echo "<b>".$class->th . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>";  
                    }
                  } ?>
                </td>
                <td> <!-- friday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time > 5 && $pm_time != 12) && ($class->fr != null || $class->fr != '' ) ) {
                      echo "<b>".$class->fr . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- saturday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time > 5 && $pm_time != 12) && ($class->sa != null || $class->sa != '' ) ) {
                      echo "<b>".$class->sa . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
                <td> <!-- sunday -->
            <?php foreach($schedules as $class) {
                    $pm_time = substr($class->starttime, 0, 2);
                    if(substr($class->starttime,-2) == 'PM' && ($pm_time > 5 && $pm_time != 12) && ($class->su != null || $class->su != '' ) ) {
                      echo "<b>".$class->su . "</b><br><span class='dev_text font_85 inbl margin_bottom_s'>" . $class->starttime .  "-" . $class->endtime . "<br></span>"; 
                    }
                  } ?>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>

