<?php
$TZ = date_default_timezone_set($timezone); // http://sourceforge.net/projects/zip2timezone/
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<div class="container-fluid padding_top_md" ng-controller="mapCtrl">
  <div class="row" id="center-row">
    <div class="col s12">
      <section id="special_page_sidecontent" class="center_sidecontent">
        <div id="special_page_sidebarmenu" class="center_sidebarmenu">
          <div class="sidebar-head">
            <a href="/<?php echo $center->centerslugs; ?>" class="white_text">
              <?php echo $center->centertitle; ?>
            </a>
          </div>
          <ul class="sidebarmenu-list">
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/info">
                <label class="dot"> &#x25AA; </label>
                <span class="bluish_text center_active">Center Info</span>
              </a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/blog/1"><label class="dot"> &#x25AA; </label>News</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/class-schedule"><label class="dot"> &#x25AA; </label>Class Schedule</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/success-stories/1"><label class="dot"> &#x25AA; </label>Success Stories</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/calendar/1"><label class="dot"> &#x25AA; </label>Calendar</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/pricing"><label class="dot"> &#x25AA; </label>Pricing</a></li>
          </ul>
        </div>

        <a href="/successstories/write" class="a_share_your_experience">
          <img src="/img/frontend/share.gif"> <br>
          Share <br> Your Experience
        </a>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" value="" />
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="middle_body">
        <h5 class="main_title">Our Center Info</h5>
        <h5 class="size_18 font_bolder">ADDRESS</h5>
        <span class="dev_text">
          <?php echo $center->centeraddress; ?> <br>
          <?php echo $center->centercity . ", " . $center->centerstate . " $center->centerzip"; ?>
        </span>

        <h5 class="size_18 font_bolder">PHONE</h5>
        <span class="dev_text">
          <?php echo $centerphonenumber; ?>
        </span>
        <br><br>
          <span class="size_18 font_bolder">HOURS</span>
          <br>
          <label style="margin-left:70px"><b><u><?php echo date('D h:i A')."";?></u></b></label>
          <br>
          <?php 
            $days = array("mon","tue","wed","thu","fri");
            $daynow = date('D');

            //LOOPING MONDAY TO FRIDAY
            foreach($days as $day) {
              $timestart = $day."timestart";
              $formatstart = $day."formatstart";
              $timeend = $day."timeend";
              $formatend = $day."formatend";

              if(ucwords($day) === $daynow) { echo "<b>"; }
          ?>
              <span class="red_text inbl" style="width:30px;"><?php echo ucwords($day); ?></span>
                <span class="dev_text margin_left_s">
                  <?php echo $centerhours->$timestart." ".$centerhours->$formatstart; ?>  ~ 
                  <?php echo $centerhours->$timeend." ".$centerhours->$formatend; ?>
                </span>
          <?php  
                  if(ucwords($day) === $daynow) { echo "</b>";
                    $start = date('Y-m-d'). " ".$centerhours->$timestart.":00 ".$centerhours->$formatstart;
                    $end = date('Y-m-d'). " ".$centerhours->$timeend.":00 ".$centerhours->$formatend;
                    $newstart = date_create($start);
                    $newstart = date_format($newstart, 'Y-m-d H:i:s');
                    $newend = date_create($end);
                    $newend = date_format($newend, 'Y-m-d H:i:s');

                    $datenow = date('Y-m-d H:i:s');
                    if($datenow > $newstart && $datenow < $newend) {
                      echo "<span class='bluish_text'>Open</span>";
                    } else {
                      echo "<span class='bluish_text'>Closed</span>";
                    }
                  }
                ?>
                <br>
        <?php } 
            if($centerhours->satstatus != '0' ) { 
              if('Sat' === $daynow) { echo "<b>"; }
        ?>
              <span class="red_text inbl" style="width:30px;">Sat</span>
                <span class="dev_text margin_left_s">
                  <?php echo $centerhours->sattimestart." ".$centerhours->satformatstart; ?>  ~ 
                  <?php echo $centerhours->sattimeend." ".$centerhours->satformatend;; ?>
                </span>
                <?php 
                  if('Sat' === $daynow) {
                    echo "</b>";
                    $start = date('Y-m-d'). " ".$centerhours->sattimestart.":00 ".$centerhours->satformatstart;
                    $end = date('Y-m-d'). " ".$centerhours->sattimeend.":00 ".$centerhours->satformatend;
                    $newstart = date_create($start);
                    $newstart = date_format($newstart, 'Y-m-d H:i:s');
                    $newend = date_create($end);
                    $newend = date_format($newend, 'Y-m-d H:i:s');

                    $datenow = date('Y-m-d H:i:s');
                    if($datenow > $newstart && $datenow < $newend) {
                      echo "<span class='bluish_text'>Open</span>";
                    } else {
                      echo "<span class='bluish_text'>Closed</span>";
                    }
                  }
                ?>
                <br>
        <?php   }    
            if($centerhours->sunstatus != '0' ) { 
              if('Sun' === $daynow) { echo "<b>"; }
        ?>
              <span class="red_text inbl" style="width:30px;">Sun</span>
                <span class="dev_text margin_left_s">
                  <?php echo $centerhours->suntimestart." ".$centerhours->sunformatstart; ?> ~ 
                  <?php echo $centerhours->suntimeend." ".$centerhours->sunformatend; ?>
                </span>
                <?php 
                  if('Sun' === $daynow) {
                    echo "</b>";
                    $start = date('Y-m-d'). " ".$centerhours->suntimestart.":00 ".$centerhours->sunformatstart;
                    $end = date('Y-m-d'). " ".$centerhours->suntimeend.":00 ".$centerhours->sunformatend;
                    $newstart = date_create($start);
                    $newstart = date_format($newstart, 'Y-m-d H:i:s');
                    $newend = date_create($end);
                    $newend = date_format($newend, 'Y-m-d H:i:s');

                    $datenow = date('Y-m-d H:i:s');
                    if($datenow > $newstart && $datenow < $newend) {
                      echo "<span class='bluish_text'>Open</span>";
                    } else {
                      echo "<span class='bluish_text'>Closed</span>";
                    }
                  }
                ?>
        <?php   } ?>  
        <br><br>
        <div id="map_canvas">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </section>

      <div class="clearboth"></div>
      <aside id="sidebar_right">
        <div class="bg_red2 padding_m text_center">
          <a href="/getstarted/starterspackage" class="white_text">
            <h5 class="size_18">TRY OUR CLASSES</h5>
            <hr class="hr_thin">
            Starter Packages
          </a>
        </div>
          <div class="popularpost">
            <div class="frmtitle marg_lft pop_feat" >Popular Features</div>
          <?php foreach($popular_features as $data) { ?>
              <div class="post">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                <img class="post_pic img_thumbnail" src="<?php echo $this->config->application->amazonlink.'/uploads/newsimage/'.$data->banner; ?>" />
              </a>
              <div class="small-text">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                  <?php  echo substr($data->description, 0, 50) . ".."; ?>
                </a>
              </div>
              <div class="clearboth"></div>
              </div>
          <?php } ?>
            <div class="clearboth"> </div>
          </div>
      </aside>

    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->
