<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<div class="container-fluid padding_top_md" ng-controller="mapCtrl">
  <div class="row" id="center-row">
    <div class="col s12">
      <section id="special_page_sidecontent" class="center_sidecontent">
        <div id="special_page_sidebarmenu" class="center_sidebarmenu">
          <div class="sidebar-head">
            <a href="/<?php echo $center->centerslugs; ?>" class="white_text">
              <?php echo $center->centertitle; ?>
            </a>
          </div>
          <ul class="sidebarmenu-list">
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/info">
              <label class="dot"> &#x25AA; </label>Center Info</a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/blog/1"><label class="dot"> &#x25AA; </label>News</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/class-schedule"><label class="dot"> &#x25AA; </label>Class Schedule</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/success-stories/1"><label class="dot"> &#x25AA; </label>Success Stories</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/calendar/1"><label class="dot"> &#x25AA; </label>Calendar</a></li>
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/pricing">
                <label class="dot"> &#x25AA; </label>
                <span class="bluish_text center_active">Pricing</span>
              </a>
            </li>
          </ul>
        </div>

        <a href="/successstories/write" class="a_share_your_experience">
          <img src="/img/frontend/share.gif"> <br>
          Share <br> Your Experience
        </a>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" value="" />
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="middle_body">
        <h5 class="main_title">Our Prices</h5>
        <table class="bordered">   
          <tr class="dev_text border_bottom_s_gray">
            <td colspan="2" class="text_center border_bottom_s_gray">Membership</td>
            <td class="text_center border_bottom_s_gray">Price</td>
            <td class="text_center border_bottom_s_gray">Details</td>
          </tr>
          <tbody>
          <?php if($regfee != false) { ?>
            <tr>
              <td colspan="2" class="text_center font_90">Registration Fee</td>
              <td class="text_center font_90">$<?php echo $regfee->fee; ?></td>
              <td></td>
            </tr>
          <?php } ?>
          <?php if($regclass != false) { ?>
            <tr>
              <td colspan="2" class="text_center font_90">One Regular Class</td>
              <td class="text_center font_90">$<?php echo $regclass->fee; ?></td>
              <td></td>
            </tr>
          <?php } ?>
          <?php if($reg1on1intro != false) { ?>
            <tr><th colspan="4" class="bg_bluish">Intro</th></tr>
            <tr>
              <td colspan="2" class="text_center font_90">1-on-1 Introductory Session</td>
              <td class="text_center font_90">$<?php echo $reg1on1intro->fee; ?></td>
              <td></td>
            </tr>
          <?php } ?>
          <?php if($centermembership != false) { ?>
            <tr><th colspan="4" class="bg_bluish">Membership</th></tr>
            <?php foreach($centermembership as $membership) { 
              switch($membership->period) {
                case 1: $period = "1 Month"; break;
                case 3: $period = "3 Months"; break;
                case 6: $period = "6 Months"; break;
                case 12: $period = "1 Year"; break;
                case 24: $period = "2 Years"; break;
                case 36: $period = "3 Years"; break;
                case 110: $period = "10 Classes"; break;
                case 120: $period = "20 Classes"; break;
                default: $period = " N/A ";
              }
              switch($membership->frequent) {
                case 7: $frequent = "Unlimited"; break;
                case 2: $frequent = "2 times a week"; break;
                case 3: $frequent = "3 times a week"; break;
                default: $frequent = " ";
              }
            ?>
            <tr>
              <td class="text_center teal_text font_90"><?php echo $period; ?></td>
              <td class="text_center font_90"><?php echo $frequent; ?></td>
              <td class="text_center bluish_text font_90">$<?php echo $membership->price; ?></td>
              <td><?php echo $membership->description; ?></td>
            </tr>
            <?php } 
               }
               
               if($classpackages != false) { ?>
            <tr><th colspan="4" class="bg_bluish">Class Packages</th></tr>
            <?php foreach($classpackages as $membership) { 
              switch($membership->period) {
                case 110: $period = "10 Classes"; break;
                case 120: $period = "20 Classes"; break;
                default: $period = " N/A ";
              }
              switch($membership->frequent) {
                case 7: $frequent = "Unlimited"; break;
                case 2: $frequent = "2 times a week"; break;
                case 3: $frequent = "3 times a week"; break;
                default: $frequent = " ";
              }
            ?>
            <tr>
              <td class="text_center teal_text font_90"><?php echo $period; ?></td>
              <td class="text_center font_90"><?php echo $frequent; ?></td>
              <td class="text_center bluish_text font_90">$<?php echo $membership->price; ?></td>
              <td class="mw_3h"><?php echo $membership->description; ?></td>
            </tr>
            <?php } 
                } 
                
              if($privatesession != false) { ?>
            <tr><th colspan="4" class="bg_bluish">Private Session</th></tr>
            <tr>
              <td colspan="4" class="font_90"><?php echo $privatesession->details; ?></td>
            </tr>
            <?php 
                } ?>
          </tbody>
        </table>
      </section>

      <div class="clearboth"></div>
      <aside id="sidebar_right">
        <div class="bg_red2 padding_m text_center">
         <h5 class="size_18">TRY OUR CLASSES</h5>
         <hr class="hr_thin">
         Starter Packages
        </div>
          <div class="popularpost">
            <div class="frmtitle marg_lft pop_feat" >Popular Features</div>
          <?php foreach($popular_features as $data) { ?>
              <div class="post">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                <img class="post_pic img_thumbnail" src="<?php echo $this->config->application->amazonlink.'/uploads/newsimage/'.$data->banner; ?>" />
              </a>
              <div class="small-text">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                  <?php  echo substr($data->description, 0, 50) . ".."; ?>
                </a>
              </div>
              <div class="clearboth"></div>
              </div>
          <?php } ?>
            <div class="clearboth"> </div>
          </div>

      </aside>

    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->
