


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="app">
<head>
<title></title>
<link type="text/css" rel="stylesheet" href="/fe/css/style.css" media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="/fe/css/print.css" media="print" />
</head>
<body ng-controller="offerCtrl">
 
    <div class="couponPop">
        <dl>
            <dt><img src="/img/bnblogo.gif" alt="Logo" title="Logo" /></dt>
            <dd>
                <div class="box1" style="background:url('<?php echo $this->config->application->amazonlink .'/uploads/offerimages/{[{offer.image}]}';?>');background-size: cover;
    background-position: center center">
                    <div class="couponImgBox1" style="color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;">
                        <p>{[{offer.title}]}</p>
                        {[{offer.description}]}

                    </div>
                    <div class="couponMsgBox1"  style="color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;">
                           This coupon offered by {[{center.centertitle}]} bodynbrain.com<br />Expires on {[{offer.expiration}]}<br/>
                            <b>{[{center.centertitle}]}</b><br />                          
                            <b>{[{phone.phonenumber}]}</b><br />
                            {[{center.centeraddress}]}, {[{center.centercity}]}, {[{center.centerstate}]} {[{center.centerzip}]}
                    </div>
                </div>
            </dd>
            <dd  style="color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;"> {[{offer.comments}]}</dd>
            
            <dd>
                <input id="non-printable" type="submit" name="btnPrint" value="Print This Coupon" onclick="window.print();" id="btnPrint" class="btnDarkBlue156" />
            </dd>
        </dl>
        <span style="background:#fee4e7;"></span>
    </div>






<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/materialize/materialize.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/others/jquery.flexslider-min.js"></script>
<script type="text/javascript"  src="/fe/scripts/others/jquery.cfSlidePanel.js"></script>
<script type="text/javascript"  src="/fe/scripts/others/jquery.cfSlider.js"></script>



<script type="text/javascript">
  $( document ).ready(function() {
    $(".button-collapse").sideNav();
    $('.slider').slider({full_width: false});


    $('.about-flex').flexslider({
      direction: "vertical",
      controlNav: true,
      directionNav: false,
      pauseOnHover: true,
      slideshowSpeed: 8000      
    });
  });
</script>

<!-- FACEBOOK LIKE & SHARE -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- TWIITER -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<!-- GOOGLE+ -->
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- PINTEREST -->
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

<!-- LEFTSIDEBAR ACTIVE MENU -->


<!-- ANGULAR JS -->
<script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/ng-file-upload/ng-file-upload.min.js"></script>

<!-- angular-google-map -->
<script type="text/javascript" src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script type="text/javascript" src="/vendors/lodash/lodash.min.js"></script>
<script type="text/javascript" src="/vendors/re-tree/re-tree.min.js"></script>
<script type="text/javascript" src="/vendors/ng-device-detector/ng-device-detector.min.js"></script>
<script type="text/javascript" src="/vendors/moment/moment.js"></script>
<script type="text/javascript" src="/vendors/angular-moment/angular-moment.min.js"></script>

<script type="text/javascript" src="/fe/scripts/app.js"></script>
<script type="text/javascript" src="/fe/scripts/config.js"></script>

<script type="text/javascript" src="/fe/scripts/factory/Center/center.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/Center/details.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/stories/write.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/stories/index.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/stories/view.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/Success/success.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/yogalife/view.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/yogalife/category.js"></script>

<script type="text/javascript" src="/fe/scripts/controllers/workshop.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/workshop.js"></script>

<script type="text/javascript" src="/fe/scripts/controllers/general.js"></script>


<script type="text/javascript" src="/fe/scripts/controllers/center/map.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/getstarted/getstarted.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/getstarted/getstarted.js"></script>
<script type="text/javascript" src="/fe/scripts/others/PgwSlideshow-master/pgwslideshow.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/contactus/contactus.js"></script>
<script type="text/javascript" src="/be/js/scripts/services/anchorsmooth.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/newsletter/newsletter.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/page.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/center/centerpage.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/page.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/locations.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/sidebar.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/location/location.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/location/location.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/angular-hitcounter/src/angular-hitcounter.js"></script>
<script type="text/javascript" src="/vendors/a0-angular-storage/dist/angular-storage.min.js"></script>
<script type="text/javascript" src="/vendors/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>

<script type="text/javascript" src="/be/js/jquery/inputmask.js"></script>

<!-- this causes the most popular and latest news problem -->
<script defer="defer" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- BENEPLACE -->
<script type="text/javascript" defer="defer" src="/fe/scripts/controllers/beneplace/beneplace.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/factory/beneplace/bnplace.js"></script>

<script type="text/javascript" defer="defer" src="/be/js/angular/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/others/jquery.backTop.min.js"></script>

<script type="text/javascript" src="/fe/scripts/controllers/center/offer.js"></script>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
<!-- NEIL SCRIPTS -->
<script>
$('.phone_us').mask('(000) 000-0000');
</script>
<script>
//PHOTO READER
 function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photopreview')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
    $('#photopreview').show();
  }

//MODAL
$('#modalOK').click(function(){
  $('.chrono').addClass('hidden');
  $(".writeModal").addClass('hidden');
});

</script>

<script type="text/javascript">
    initCFSlidePanelPlugin("mainBannerSlider", "slide");
        $('#container').mainBannerSlider({
            prevBtn: '#cfSliderPrev',
            nextBtn: '#cfSliderNext',
            btnSpeedAdjust: true,
            speed: 500
        });
</script>

<script>
$(document).ready(function() {
    $('.pgwSlideshow').pgwSlideshow();
});
</script>


<!-- MODAL SCRIPT FOR SCHEDULE PRICE AND MAP -->
<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('#modal-map').leanModal(function() {
       $('#modal-m').openModal();
    });
    $('#modal-pricing').leanModal(function() {
       $('#modal-p').openModal();
    });
    $('#modal-schedule').leanModal(function() {
       $('#modal-s').openModal();
    });
    $('#modal-map_h').leanModal(function() {
       $('#modal-m_h').openModal();
    });
    $('#modal-pricing_h').leanModal(function() {
       $('#modal-p_h').openModal();
    });
    $('#modal-schedule_h').leanModal(function() {
       $('#modal-s_h').openModal();
    });

    // $('.modalSlider').leanModal(function() {
    //   $('#modalSlider').openModal();
    // })
    $('.ps-current li img').addClass("cursor_pointer");

    $('.ps-current li img').click(function() {
        $(".modalSlider").removeClass("hidden");
        var modalImg = $(this).attr("src");
        $("#modalImg").attr("src",modalImg);
    });

    $('.chrono-close').click(function() {
        $(".modalSlider").addClass("hidden");
    })

    $('#workshopagreement').click(function() {
      $('#modal-agreement').removeClass("hidden");
    });
    $('.close-agreement').click(function(){
      $('#modal-agreement').addClass("hidden");
    })

  });
</script>
<script type="text/javascript" defer="defer" src="/fe/scripts/jquery.rwdImageMaps.min.js"></script>
<script>
  function myFunction() {
    window.print();
  }

  var hash = document.location.toString().split("/");
  var hashLength = hash.length - 1;
  hash = "#" + hash[hashLength].toString();
  $(hash.toString()).addClass('active');
  
$(document).ready(function() {
   $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
   
  $('.expand').click(function(){
    var title = $(this).attr('title');
    if(title == 'Expand') {
     var classActivityID = $(this).attr('alt');
      $('.' + classActivityID).addClass('text_wrap_expand');
      $(this).addClass('btncollapse');
      $(this).removeClass('btncalendar');
      $(this).attr('title','Collapse');
      $(this).html("Collapse");
    } else {
      var classActivityID = $(this).attr('alt');
      $('.' + classActivityID).removeClass('text_wrap_expand');
      $(this).addClass('btncalendar');
      $(this).removeClass('btncollapse');
      $(this).attr('title','Expand');
      $(this).html("Expand");
    }
  })

  $('img[usemap]').rwdImageMaps();
    var hash = document.location.toString().split("/");
    var hashLength = hash.length - 1;
    hash = "#" + hash[hashLength].toString();
    $(hash.toString()).addClass('active');
    $('img[usemap]').rwdImageMaps();
});
</script>
<!-- <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script> -->
<script>
// webshims.setOptions('forms-ext', {types: 'date'});
// webshims.polyfill('forms forms-ext');
// $.webshims.formcfg = {
// en: {
//     dFormat: '-',
//     dateSigns: '-',
//     patterns: {
//         d: "yy-mm-dd"
//     }
// }
// };

$(document).ready( function() {
$('#backTop').backTop({
  'position' : 400,
  'speed' : 500
});
});
</script>


<!--End  Google Analytics-->

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'bodynbrain'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
</body>
</html>
