<?php echo $this->getContent() ?>
<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<div id="crumbs_cont">
  <ul id="crumbs">
    <li class="crumbsli"><a class="crumbs" href="/bnbsite">Home</a></li>
    <li class="crumbsli"><a class="crumbs" href="/newsletter/enewsletter">e-Newsletter</a></li> 
  </ul>
</div>
<div class="container-fluid padding_top_md enewsletter-container" ng-controller="Newslettershowctrl">
  <div class="row">
    <div class="col s12">
      <section id="special_page_sidecontent">
        <div id="sidebarmenu">
           <ul>
            <li id="liContact"><a href="/contactus"<label class="dot">&#x25AA; </label>Contact Us</a></li>
            <li id="liTerms"><a href="/terms-of-use"><label class="dot">&#x25AA; </label>Terms of Use</a></li>
            <li id="liPrivacy"><a href="/privacy-policies"><label class="dot">&#x25AA; </label>Privacy Policy</a></li>
            <li id="liSiteMap"><a href="/site-map"><label class="dot">&#x25AA; </label>Site Map</a></li>
            <li id="liletter" class="active"><a href="/newsletter/enewsletter"><label class="dot">&#x25AA; </label>e-Newsletter Archive</a></li>
            <li id="liPDF"><a href="/newsletter/pdfnewsletter"><label class="dot">&#x25AA; </label>Newsletter PDF Archive</a></li>
          </ul>
        </div>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form action="//bodynbrain.us3.list-manage.com/subscribe/post?u=cfc22757143336e0cfcf90eef&amp;id=eef0458b00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email text" id="mce-EMAIL" placeholder="E-mail Address">
            <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="send">
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="middle_body">
        <h5 class="main_title">Subscribe to Our e-Newsletter</h5>
        <div class="signup_wrap">
          <p>Sign Up for our e-Newsletter</p>
          <div class="signup">
            <input name="txtEmail" type="text" id="txtEmail" class="input_signup placeholder" placeholder="E-mail address">
            <input type="submit" name="button1" value="Submit" id="button1" class="btn_signup">
            <input type="hidden" name="wtEmail_ClientState" id="wtEmail_ClientState">
          </div>
        </div>

        <div ng-bind-html="<?php echo $content; ?>
                <!-- CONTENT -->
        </div>

        
      </section>

      <div class="clearboth"></div>
      <aside id="sidebar-right">
        <div class="col-4">
          <a href="/getstarted/starterspackage"><img src="/img/frontend/banner_getstarted_small.jpg" class="full_width" /></a>
          <div class="bg_yellowish padding_m">
            <span class="size_18">Success Stories</span>

                  <a href="" ng-repeat="data in data | limitTo:2">
                  <div class="bg_centered" 
                  style="background:url(<?php echo $this->config->application->amazonlink . '/uploads/testimonialimages/{[{ data.photo }]}' ?>); height:100px"></div>
                  <span class="teal_text bl padding_top_S">{[{ data.subject }]}</span>
                  <label class="margin_bottom_s bl">
                    {[{ data.author }]}
                  </label>
                  <div class="word_break text_85 auto_text">{[{ data.details | limitTo: 150 }]}{[{ data.details.length > 150 ? '...' : '' }]}</div>
                  <br>
                  </a>

          </div>
        </div>
        <div class="col-4">
          <div class="popularpost">
            <div class="frmtitle marg_lft pop_feat" >Popular Features</div>
              <div class="post" ng-repeat="data in printmainnews">
                <a href="#">
                <img class="post_pic img_thumbnail" src="<?php echo $this->config->application->amazonlink . '/uploads/newsimage/{[{ data.banner }]}' ?>" />
              </a>
              <div class="small-text">
                <a href="#">
                  {[{ data.description | limitTo: 50 }]}{[{ data.description.length > 50 ? '..' : '' }]}
                </a>
              </div>
              <div class="clearboth"></div>
              </div>
            <div class="clearboth"> </div>
          </div>
        </div>
      </aside>
    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->

