<?php
$page = "";
$amazonimages = $this->config->application->amazonlink . "/uploads/";
$pagewhatis = "/what-is";
$pageclasses = "/classes";
$pageworkshops = "/workshops";
$pagewellnessatwork = "/wellness-at-work";
$pagecommunityaction = "/responsibility";
?>
<!DOCTYPE html>
<html data-ng-app="app" ng-cloak>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="google-site-verification" content="ySjOTmAKz2w5YqcRUH1rsc8sdQjQn6PGvKAih-8FRus" />
  <meta name="p:domain_verify" content="22c00952f256c761fcb76cb4e891f1d6"/>
  <link rel="shortcut icon" href="/img/frontend/favicon.gif" type='image/x-icon'/>
  <link rel="image_src" href="<?php echo $this->config->application->amazonlink .'/uploads/newsimage/'.$banner; ?>" / >
  <link type="text/css" rel="stylesheet" href="/fe/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/fe/css/style.css" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/fe/css/print.css" media="print" />
  <link type="text/css" rel="stylesheet" href="/fe/css/flexslider.css"  media="screen,projection"/>

  <link type="text/css" rel="stylesheet" href="/fe/css/three_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/fe/css/two_col_inner_page.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/fe/css/center.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/fe/css/breadcrumbs.css"  />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <link type="text/css" rel="stylesheet" href="/fe/scripts/others/PgwSlideshow-master/pgwslideshow.css"  />
  <link type="text/css" rel="stylesheet" href="/fe/css/backTop.css"  />

<!--   Materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Added font in View -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>

  <!-- CAPTCHA
  <script src='https://www.google.com/recaptcha/api.js'></script>-->
  <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="<?php echo @$metadesc ?>">
  <meta name="keywords" content="<?php echo @$metatags ?>">
  <meta name="title" content="<?php echo @$metatitle ?>">
  <title><?php echo @$metatitle ?></title>

  <meta name="og:image" content="<?php echo $this->config->application->amazonlink .'/uploads/newsimage/'.$banner; ?>" />
  <meta name="og:title" content="<?php echo @$metatitle ?>" />
  <meta name="og:description" content="<?php echo @$metadesc ?>" />
  <meta name="og:url" content="BodynBrain.com" />
  <meta property="og:image" content="<?php echo $this->config->application->amazonlink .'/uploads/newsimage/'.$banner; ?>" />
  <?php echo $fbcapc; ?>


</head>

<body>
  <?php
  if($logoimage->value1 == 1){
    header('Location: /maintenance/');
  }
  ?>
<div class="mobilemenu" id="non-printable">
      <nav>
        <div class="nav-wrapper maincolor">
          <a href="#!" class="brand-logo"></a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul id="nav-mobile" class="side-nav">
            <div class="sidelogo" style="text-align: center;margin-top: 32px;margin-bottom: 16px;border-bottom: 1px solid #ddd;padding:20px;">
              <img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $logoimage->logo; ?>" style="width:100%; height:auto;">
            </div>
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">About</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="<?php echo $pagewhatis;?>" class="submenu">About Body & Brain</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/how-different" class="submenu">How Are We Different?</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/energy-principles" class="submenu">Core Energy Principles</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/ilchi-lee" class="submenu">Founder Ilchi Lee</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/ceo-message" class="submenu">Message from the CEO</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/yoga-class-guarantee" class="submenu">30 Day Guarantee</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/research" class="submenu">Research</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/faq" class="submenu">FAQ</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Classes</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="<?php echo $pageclasses;?>" class="submenu">Overview</a></li>
                    <li><a href="<?php echo $pageclasses;?>/video-classes" class="submenu">Video Classes</a></li>
                    <li><a href="<?php echo $pageclasses;?>/energy-martial-arts" class="submenu">Tai Chi & Qigong</a></li>
                    <li><a href="<?php echo $pageclasses;?>/energy-meditation" class="submenu">Energy Meditation</a></li>
                    <li><a href="<?php echo $pageclasses;?>/core-strengthening-revitalizing" class="submenu">Core Strengthening</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal" ng-controller="workshopCtrl">Workshops</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="/workshops" class="submenu">Overview</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/initial-awakening" class="submenu">Initial Awakening&#8482;</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/finding-true-self" class="submenu">Finding True Self</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/sedona-retreat" class="submenu">Sedona Retreat for Change</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/solar-body-natural-healing-course" class="submenu">Solar Body Natural Healing Course</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/dahnmudo" class="submenu">DahnMuDo&#8482;</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/brain-management-training" class="submenu">Brain Management Training</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/dahn-master-course" class="submenu">Dahn Master Course</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/meditation-tours" class="submenu">Meditation Tours</a></li>
                    <li><a href="/workshops/workshopschedules/all" class="submenu">Schedules</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/healthier-together" class="submenu">Healthier Together</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Wellness at Work</a>
                <div class="collapsible-body">
                  <ul>
                     <li><a href="<?php echo $pagewellnessatwork;?>" class="submenu">Overview</a></li>
                     <li><a href="<?php echo $pagewellnessatwork;?>/our-programs" class="submenu">Our Programs</a></li>
                     <li><a href="<?php echo $pagewellnessatwork;?>/getting-started" class="submenu">Getting Started</a></li>
                     <li><a href="<?php echo $pagewellnessatwork;?>/success-stories" class="submenu">Success Stories</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header waves-effect waves-teal">Responsibility</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="<?php echo $pagecommunityaction;?>" class="submenu">Overview</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/community-classes" class="submenu">Community Classes</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/project-orange" class="submenu">Project Orange</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/book-donations" class="submenu">Book Donations</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/nevada-1st-project" class="submenu">Nevada 1st Project</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/nicaragua-project" class="submenu">Nicaragua Project</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a href="<?php echo $page;?>/press" class="collapsible-header">Press</a></li>
              <li class="active find-class bold"><a class="collapsible-header waves-effect waves-teal active" href="/locations">Locations</a></li>
          </li>
        </ul>
      </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
  <div class="container" >

    <div class="row header"  id="non-printable">
      <div class="col s12">
        <div class="headerlogo">

          <a href="/"><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $logoimage->logo; ?>" style="height:auto;"></a>

        </div>
        <div class="headercontact">
            <ul>
              <li class="tel">1-877-477-YOGA</li>
              <li class="contactlist"><a href="/contact-us">Contact Us</a></li>
              <li class="contactlist"><a href="/success-stories/1">Success Stories</a></li>
              <li class="contactlist"><a href="<?php echo $articles; ?>">B&B Buzz</a></li>
              <li class="contactlist"><a href="<?php echo $page; ?>/franchise">Franchising</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="navigationcustom maincolor"  id="non-printable">
       <ul>
        <li>
          <a href="<?php echo $pagewhatis;?>" class="menu about">ABOUT</a>
          <ul>
            <li><a href="<?php echo $pagewhatis;?>" class="submenu">About Body & Brain</a></li>
            <li><a href="<?php echo $pagewhatis;?>/how-different" class="submenu">How Are We Different?</a></li>
            <li><a href="<?php echo $pagewhatis;?>/energy-principles" class="submenu">Core Energy Principles</a></li>
            <li><a href="<?php echo $pagewhatis;?>/ilchi-lee" class="submenu">Founder Ilchi Lee</a></li>
            <li><a href="<?php echo $pagewhatis;?>/ceo-message" class="submenu">Message from the CEO</a></li>
            <li><a href="<?php echo $pagewhatis;?>/yoga-class-guarantee" class="submenu">30 Day Guarantee</a></li>
            <li><a href="<?php echo $pagewhatis;?>/research" class="submenu">Research</a></li>
            <li><a href="<?php echo $pagewhatis;?>/faq" class="submenu">FAQ</a></li>
          </ul>
        </li>
        <li>
          <a href="<?php echo $pageclasses;?>" class="menu">CLASSES</a>
          <ul>
            <li><a href="<?php echo $pageclasses;?>" class="submenu">Overview</a></li>
            <li><a href="<?php echo $pageclasses;?>/video-classes" class="submenu">Video Classes</a></li>
            <li><a href="<?php echo $pageclasses;?>/energy-martial-arts" class="submenu">Tai Chi & Qigong</a></li>
            <li><a href="<?php echo $pageclasses;?>/energy-meditation" class="submenu">Energy Meditation</a></li>
            <li><a href="<?php echo $pageclasses;?>/core-strengthening-revitalizing" class="submenu">Core Strengthening</a></li>
          </ul>
        </li>
        <li>
          <a href="/workshops" class="menu">WORKSHOPS</a>
          <ul>
            <li><a href="/workshops" class="submenu">Overview</a></li>
            <li><a href="<?php echo $pageworkshops;?>/initial-awakening" class="submenu">Initial Awakening&#8482;</a></li>
            <li><a href="<?php echo $pageworkshops;?>/finding-true-self" class="submenu">Finding True Self</a></li>
            <li><a href="<?php echo $pageworkshops;?>/sedona-retreat" class="submenu">Sedona Retreat for Change</a></li>
            <li><a href="<?php echo $pageworkshops;?>/solar-body-natural-healing-course" class="submenu">Solar Body Natural Healing Course</a></li>
            <li><a href="<?php echo $pageworkshops;?>/dahnmudo" class="submenu">DahnMuDo&#8482;</a></li>
            <li><a href="<?php echo $pageworkshops;?>/brain-management-training" class="submenu">Brain Management Training</a></li>
            <li><a href="<?php echo $pageworkshops;?>/dahn-master-course" class="submenu">Dahn Master Course</a></li>
            <li><a href="<?php echo $pageworkshops;?>/meditation-tours" class="submenu">Meditation Tours</a></li>
            <li><a href="/workshops/workshopschedules/all" class="submenu">Schedules</a></li>
            <li><a href="<?php echo $pageworkshops;?>/healthier-together" class="submenu">Healthier Together</a></li>
          </ul>
        </li>
        <li>
          <a href="<?php echo $pagewellnessatwork;?>" class="menu">WELLNESS AT WORK</a>
          <ul>
            <li><a href="<?php echo $pagewellnessatwork;?>" class="submenu">Overview</a></li>
            <li><a href="<?php echo $pagewellnessatwork;?>/our-programs" class="submenu">Our Programs</a></li>
            <li><a href="<?php echo $pagewellnessatwork;?>/getting-started" class="submenu">Getting Started</a></li>
            <li><a href="<?php echo $pagewellnessatwork;?>/success-stories" class="submenu">Success Stories</a></li>
          </ul>
        </li>
        <li>
          <a href="<?php echo $pagecommunityaction;?>" class="menu">RESPONSIBILITY</a>
          <ul>
            <li><a href="<?php echo $pagecommunityaction;?>" class="submenu">Overview</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/community-classes" class="submenu">Community Classes</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/project-orange" class="submenu">Project Orange</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/book-donations" class="submenu">Book Donations</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/nevada-1st-project" class="submenu">Nevada 1st Project</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/nicaragua-project" class="submenu">Nicaragua Project</a></li>
          </ul>
        </li>
        <li><a href="<?php echo $page;?>/press" class="menu">PRESS</a></li>
        <li class="active find-class"><a href="/locations">LOCATIONS</a></li>
      </ul>
    </div>

<div class="divseparetor"></div>

  <!-- breadcrumbs -->
  <?php if($leftsidebarname!="") {?>
    <div class="navi" style="margin: 0px 0px 30px; padding: 2px 0px 0px; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(230, 230, 230); font-family: 'Droid Sans', sans-serif, Arial; font-size: 12px; font-stretch: inherit; line-height: 30px; vertical-align: baseline; height: 30px; color: rgb(227, 24, 54);">
        <a href="/" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-decoration: none; color: rgb(227, 24, 54);">
          Home
        </a>

        <?php if($leftsidebarname != 'Miscellaneous') { ?>
        <a href="<?php echo $pageslugs[0]; ?>" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-decoration: none; color: rgb(227, 24, 54);">
          <?php echo $leftsidebarname; ?>
        </a>
        <?php } ?>

        <span class="current" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; color: rgb(102, 102, 102);">
          <?php
              if($pageSlugs=="press"){
          ?>
              <a href="<?php echo '/'.$pageSlugs; ?>" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-decoration: none; color: rgb(227, 24, 54);">
                <?php echo ucwords(str_replace("-", " ", $pageSlugs));  ?>
              </a>
          <?php
                echo "Overview";
              } elseif ($pageSlugs=="responsibility" || $pageSlugs=="wellness-at-work") {
                echo "Overview";
              } else {
                echo ucwords(str_replace("-", " ", $pageSlugs));
              }
          ?>
        </span>
    </div>
  <?php } ?>

  <?php echo $this->getContent(); ?>

  <div class="row"  id="non-printable" style="float:left;">
    <div class="col s12" style="padding:0px;">
      <div class="footer">
        <div class="welcomefooter">
          <h6 class="footertitle">Welcome to Body & Brain!</h6>
          <p>We offer effective stress management solutions through yoga classes, tai chi classes, self-help workshops, </p>
          <p>yoga and meditation retreats based on simple, holistic practices. </p>
          <p> Try it for yourself and experience total body and mind relaxation!</p>
        </div>

        <div class="footerul">
          <div class="sitecenter">
            <ul class="site">
              <li>
                <p><a href="<?php echo $pagewhatis;?>">About </a></p>
                <a href="<?php echo $pagewhatis;?>/ilchi-lee" class="link">Founder Ilchi Lee</a>
                <a href="/personal-services" class="link">Personal Services</a>
              </li>
              <li>
                <p><a href="<?php echo $pageclasses;?>">Classes</a></p>
                <a href="<?php echo $pageclasses;?>/classes-overview" class="link">Yoga</a>
                <a href="<?php echo $pageclasses;?>/energy-martial-arts" class="link">Tai Chi / Qigong</a>
              </li>
              <li>
                <p><a href="/workshops">Workshops</a></p>
                <a href="<?php echo $pageworkshops;?>/initial-awakening" class="link">Initial Awakening™</a>
                <a href="<?php echo $pageworkshops;?>/finding-true-self" class="link">Finding True Self™</a>
              </li>
              <li class="success">
                <p><a href="<?php echo $articles; ?>">Community</a></p>
                <a href="<?php echo $articles; ?>" class="link">Yoga Tips</a>
                <a href="http://www.bodynbrainfoundation.org" target="_blank" class="link">Body &amp; Brain   Foundation</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row"  id="non-printable" style="float:left;">
    <div class="col s12" style="padding:0px;">

      <div class="mid">
        <div class="telwrapper">
          <div class="telcenter">
            <a href="tel:1-877-477-YOGA" class="tel">1-877-477-YOGA <span>(9AM-5PM MST, MON-FRI)</span></a>
          </div>
        </div>
        <div class="countrywrapper">
          <div class="countrycenter">
            <div class="country">
              <label for="select_country">Choose Your Country</label>
              <div class="select_wrap">
                <span class="value">Select</span>
                <select name="selecter" style="width:130px;" onchange="location=this.value">
                  <option value="#">Select</option>
                  <option value="http://bodyandbrain.ca">Canada</option>
                  <option value="http://www.hspholistic.de/">Germany</option>
                  <option value="http://www.dahnworld.co.jp/">Japan</option>
                  <option value="http://www.dahnworld.com/">Korea</option>
                  <option value="http://vkontakte.ru/club23685437">Russia</option>
                  <option value="http://www.dahnyoga.co.uk/">United Kingdom</option>
                  <option value="http://www.brainyoga.com/">Hong Kong</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row"  id="non-printable" style="float:left;">
    <div class="bottom">
      <a href="<?php echo $page;?>/about-us">Our Company</a>
      <a href="/contact-us">Contact Us</a>
      <a href="<?php echo $page;?>/faq">FAQ</a>
      <a href="<?php echo $page;?>/terms-of-use">Terms of Use</a>
      <a href="<?php echo $page;?>/site-map">Site Map</a>
      <!-- <a href="/feed">RSS</a> -->
      <span class="copyright">© 2015 Body &amp; Brain Yoga · Tai Chi</span>
    </div>
  </div>

</div>


<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/materialize/materialize.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/others/jquery.flexslider-min.js"></script>
<script type="text/javascript"  src="/fe/scripts/others/jquery.cfSlidePanel.js"></script>
<script type="text/javascript"  src="/fe/scripts/others/jquery.cfSlider.js"></script>



<script type="text/javascript">
  $( document ).ready(function() {
    $(".button-collapse").sideNav();
    $('.slider').slider({full_width: false});


    $('.about-flex').flexslider({
      direction: "vertical",
      controlNav: true,
      directionNav: false,
      pauseOnHover: true,
      slideshowSpeed: 8000
    });
  });
</script>

<!-- FACEBOOK LIKE & SHARE -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- TWIITER -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<!-- GOOGLE+ -->
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- PINTEREST -->
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

<!-- LEFTSIDEBAR ACTIVE MENU -->


<!-- ANGULAR JS -->
<script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/ng-file-upload/ng-file-upload.min.js"></script>

<!-- angular-google-map -->
<script type="text/javascript" src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script type="text/javascript" src="/vendors/lodash/lodash.min.js"></script>
<script type="text/javascript" src="/vendors/re-tree/re-tree.min.js"></script>
<script type="text/javascript" src="/vendors/ng-device-detector/ng-device-detector.min.js"></script>
<script type="text/javascript" src="/vendors/moment/moment.js"></script>
<script type="text/javascript" src="/vendors/angular-moment/angular-moment.min.js"></script>
<script type="text/javascript" src="/vendors/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>


<script type="text/javascript" src="/fe/scripts/app.js"></script>
<script type="text/javascript" src="/fe/scripts/config.js"></script>

<script type="text/javascript" src="/fe/scripts/factory/Center/center.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/Center/details.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/stories/write.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/stories/index.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/stories/view.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/Success/success.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/yogalife/view.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/yogalife/category.js"></script>

<script type="text/javascript" src="/fe/scripts/controllers/workshop.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/workshop.js"></script>

<script type="text/javascript" src="/fe/scripts/controllers/general.js"></script>


<script type="text/javascript" src="/fe/scripts/controllers/center/map.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/center/preview.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/getstarted/getstarted.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/getstarted/getstarted.js"></script>
<script type="text/javascript" src="/fe/scripts/others/PgwSlideshow-master/pgwslideshow.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/contactus/contactus.js"></script>
<script type="text/javascript" src="/be/js/scripts/services/anchorsmooth.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/newsletter/newsletter.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/page.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/center/centerpage.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/page.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/locations.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/sidebar.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/location/location.js"></script>
<script type="text/javascript" src="/fe/scripts/factory/location/location.js"></script>
<script type="text/javascript" src="/fe/scripts/directives/generaldirectives.js"></script>

<script type="text/javascript" defer="defer" src="/vendors/angular-hitcounter/src/angular-hitcounter.js"></script>
<script type="text/javascript" src="/vendors/a0-angular-storage/dist/angular-storage.min.js"></script>

<script type="text/javascript" src="/be/js/scripts/filter/htmlfilter.js"></script>

<script type="text/javascript" src="/be/js/jquery/inputmask.js"></script>

<!-- this causes the most popular and latest news problem -->
<script defer="defer" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- BENEPLACE -->
<script type="text/javascript" defer="defer" src="/fe/scripts/controllers/beneplace/beneplace.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/factory/beneplace/bnplace.js"></script>

<script type="text/javascript" defer="defer" src="/be/js/angular/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/others/jquery.backTop.min.js"></script>


<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
<!-- NEIL SCRIPTS -->
<script>
$('.phone_us').mask('(000) 000-0000');
</script>
<script>
//PHOTO READER
 function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photopreview')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
    $('#photopreview').show();
  }

//MODAL
$('#modalOK').click(function(){
  $('.chrono').addClass('hidden');
  $(".writeModal").addClass('hidden');
});

</script>

<script type="text/javascript">
    initCFSlidePanelPlugin("mainBannerSlider", "slide");
        $('#container').mainBannerSlider({
            prevBtn: '#cfSliderPrev',
            nextBtn: '#cfSliderNext',
            btnSpeedAdjust: true,
            speed: 500
        });
</script>

<script>
$(document).ready(function() {
    $('.pgwSlideshow').pgwSlideshow();
});
</script>


<!-- MODAL SCRIPT FOR SCHEDULE PRICE AND MAP -->
<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('#modal-map').leanModal(function() {
       $('#modal-m').openModal();
    });
    $('#modal-pricing').leanModal(function() {
       $('#modal-p').openModal();
    });
    $('#modal-schedule').leanModal(function() {
       $('#modal-s').openModal();
    });
    $('#modal-map_h').leanModal(function() {
       $('#modal-m_h').openModal();
    });
    $('#modal-pricing_h').leanModal(function() {
       $('#modal-p_h').openModal();
    });
    $('#modal-schedule_h').leanModal(function() {
       $('#modal-s_h').openModal();
    });

    // $('.modalSlider').leanModal(function() {
    //   $('#modalSlider').openModal();
    // })
    $('.ps-current li img').addClass("cursor_pointer");

    $('.ps-current li img').click(function() {
        $(".modalSlider").removeClass("hidden");
        var modalImg = $(this).attr("src");
        $("#modalImg").attr("src",modalImg);
    });

    $('.chrono-close').click(function() {
        $(".modalSlider").addClass("hidden");
    })

    $('#workshopagreement').click(function() {
      $('#modal-agreement').removeClass("hidden");
    });
    $('.close-agreement').click(function(){
      $('#modal-agreement').addClass("hidden");
    })

  });
</script>
<script type="text/javascript" defer="defer" src="/fe/scripts/jquery.rwdImageMaps.min.js"></script>
<script>
  function myFunction() {
    window.print();
  }

  var hash = document.location.toString().split("/");
  var hashLength = hash.length - 1;
  hash = "#" + hash[hashLength].toString();
  $(hash.toString()).addClass('active');

$(document).ready(function() {
   $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

  $('.expand').click(function(){
    var title = $(this).attr('title');
    if(title == 'Expand') {
     var classActivityID = $(this).attr('alt');
      $('.' + classActivityID).addClass('text_wrap_expand');
      $(this).addClass('btncollapse');
      $(this).removeClass('btncalendar');
      $(this).attr('title','Collapse');
      $(this).html("Collapse");
    } else {
      var classActivityID = $(this).attr('alt');
      $('.' + classActivityID).removeClass('text_wrap_expand');
      $(this).addClass('btncalendar');
      $(this).removeClass('btncollapse');
      $(this).attr('title','Expand');
      $(this).html("Expand");
    }
  })

  $('img[usemap]').rwdImageMaps();
    var hash = document.location.toString().split("/");
    var hashLength = hash.length - 1;
    hash = "#" + hash[hashLength].toString();
    $(hash.toString()).addClass('active');
    $('img[usemap]').rwdImageMaps();
});
</script>
<!-- <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script> -->
<script>

$(document).ready( function() {
$('#backTop').backTop({
  'position' : 400,
  'speed' : 500
});
});
</script>


<?php echo $script_google->script; ?>



<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'bodynbrain'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<a id='backTop'>Top</a>

</body>
</html>
